VO/VO - ESTAT/TITULACIONS_RJCU/dadesEspecifiques.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.aoc.cat/titulacions/rjcu" targetNamespace="http://www.aoc.cat/titulacions/rjcu" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- ======================================================= -->
	<!-- RJCU_CENTRES		                                 	 -->
	<!-- ======================================================= -->
	<xs:element name="peticioConsultaCentresUniversitaris">
		<xs:complexType>
			<xs:sequence>
				<xs:sequence>
					<xs:element ref="codiUniversitat"/>
					<xs:element ref="codiCentre" minOccurs="0"/>
					<xs:element name="dataInici" type="xs:date" minOccurs="0"/>
				</xs:sequence>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="respostaConsultaCentresUniversitaris">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="peticioConsultaCentresUniversitaris" minOccurs="0"/>
				<xs:element name="resposta" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="centres">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="centre" type="tCentre" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="resultat"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- ======================================================= -->
	<!-- RJCU_UNIVERSITATS		                                 -->
	<!-- ======================================================= -->
	<xs:element name="peticioConsultaUniversitats">
		<xs:complexType>
			<xs:sequence>
				<xs:sequence>
					<xs:element name="dataInici" type="xs:date"/>
				</xs:sequence>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="respostaConsultaUniversitats">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="peticioConsultaUniversitats" minOccurs="0"/>
				<xs:element name="resposta" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="universitats">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="universitat" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="resultat"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- ======================================================= -->
	<!-- RJCU_TITOLS		                                 	 -->
	<!-- ======================================================= -->
	<xs:element name="peticioConsultaTitolsUniversitaris">
		<xs:complexType>
			<xs:sequence>
				<xs:sequence>
					<xs:element ref="codiComunitatAutonoma"/>
					<xs:element ref="codiUniversitat" minOccurs="0"/>
					<xs:element ref="codiCentre" minOccurs="0"/>
				</xs:sequence>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="respostaConsultaTitolsUniversitaris">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="peticioConsultaTitolsUniversitaris" minOccurs="0"/>
				<xs:element name="resposta" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="titols">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="titol" type="tTitol" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="resultat"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- ======================================================= -->
	<!-- RJCU_TITOL_DETALL	                                 	 -->
	<!-- ======================================================= -->
	<xs:element name="peticioConsultaTitolUniversitariDetall">
		<xs:complexType>
			<xs:sequence>
				<xs:sequence>
					<xs:element ref="codiUniversitat"/>
					<xs:element ref="codiEstudi"/>
				</xs:sequence>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="respostaConsultaTitolUniversitariDetall">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="peticioConsultaTitolUniversitariDetall" minOccurs="0"/>
				<xs:element name="resposta" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="titol" type="tTitolDetall"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="resultat"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="tCentreBase">
		<xs:sequence>
			<xs:element ref="codiCentre"/>
			<xs:element ref="nomCentre"/>
			<xs:element ref="acronim" minOccurs="0"/>
			<xs:element ref="tipus"/>
			<xs:element ref="situacio"/>
			<xs:element ref="naturalesa"/>
			<xs:element ref="adreca" minOccurs="0"/>
			<xs:element ref="codiPostal" minOccurs="0"/>
			<xs:element ref="codiComunitatAutonoma"/>
			<xs:element ref="codiProvincia"/>
			<xs:element ref="provincia"/>
			<xs:element ref="codiLocalitat"/>
			<xs:element ref="localitat"/>
			<xs:element ref="codiUniversitat"/>
			<xs:element ref="nomUniversitat"/>
			<xs:element ref="telefon" minOccurs="0"/>
			<xs:element ref="fax" minOccurs="0"/>			
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tCentre">
		<xs:complexContent>
			<xs:extension base="tCentreBase">
				<xs:sequence>
					<xs:element ref="acreditacions" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tCentreDetall">
		<xs:complexContent>
			<xs:extension base="tCentreBase">
				<xs:sequence>
					<xs:element ref="tipusEnsenyamentPresencial"/>
					<xs:element ref="tipusEnsenyamentSemipresencial"/>
					<xs:element ref="tipusEnsenyamentVirtual" minOccurs="0"/>
					<xs:element ref="placesPrimerAny" minOccurs="0"/>
					<xs:element ref="placesSegonAny" minOccurs="0"/>
					<xs:element ref="placesTercerAny" minOccurs="0"/>
					<xs:element ref="placesQuartAny" minOccurs="0"/>					
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>	
	<xs:element name="universitat">
		<xs:complexType>
			<xs:all>
				<xs:element ref="codiUniversitat"/>
				<xs:element ref="nomUniversitat"/>
				<xs:element ref="nomCurt"/>
				<xs:element ref="acronim" minOccurs="0"/>
				<xs:element ref="NIF" minOccurs="0"/>
				<xs:element ref="tipusUniversitat"/>
				<xs:element ref="naturalesa"/>
				<xs:element ref="situacio"/>
				<xs:element ref="codiPais"/>
				<xs:element ref="codiComunitatAutonoma"/>
				<xs:element ref="codiProvincia" minOccurs="0"/>
				<xs:element ref="provincia" minOccurs="0"/>
				<xs:element ref="codiMunicipi" minOccurs="0"/>
				<xs:element ref="codiLocalitat" minOccurs="0"/>
				<xs:element ref="localitat" minOccurs="0"/>
				<xs:element ref="adreca" minOccurs="0"/>
				<xs:element ref="codiPostal" minOccurs="0"/>
				<xs:element ref="telefon" minOccurs="0"/>
				<xs:element ref="telefonSecundari" minOccurs="0"/>
				<xs:element ref="fax" minOccurs="0"/>
				<xs:element ref="email" minOccurs="0"/>
				<xs:element ref="urlWeb" minOccurs="0"/>
				<xs:element ref="pertanyEsglesia" minOccurs="0"/>
				<xs:element ref="codiErasmus" minOccurs="0"/>
				<xs:element ref="animLucre" minOccurs="0"/>
				<xs:element name="dataVigor" type="xs:date" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="tTitolBase">
		<xs:sequence>
			<xs:element ref="acreditat"/>
			<xs:element ref="tipusAcreditacio" minOccurs="0"/>
			<xs:element name="dataResolucioAcreditacio" type="xs:date" minOccurs="0"/>
			<xs:element ref="codiComunitatAutonoma"/>
			<xs:element ref="comunitatAutonoma"/>
			<xs:element ref="codiNaturalesa"/>
			<xs:element name="naturalesa">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="40"/>
						<xs:whiteSpace value="collapse"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element ref="codiEntitat"/>
			<xs:element ref="entitat"/>
			<xs:element ref="rol"/>
			<xs:element ref="codiConjunt"/>
			<xs:element ref="conjunt"/>
			<xs:element name="codiEstat">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="P"/>
						<xs:enumeration value="AJ"/>
						<xs:enumeration value="ACA"/>
						<xs:enumeration value="ACM"/>
						<xs:enumeration value="PAC"/>
						<xs:enumeration value="V"/>
						<xs:enumeration value="SP"/>
						<xs:enumeration value="A"/>
						<xs:enumeration value="AI"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="estat">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="35"/>
						<xs:whiteSpace value="collapse"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="dataEstat" type="xs:date" minOccurs="0"/>
			<xs:element ref="codiEstudi"/>
			<xs:element ref="estudi"/>
			<xs:element ref="codiBranca" minOccurs="0"/>
			<xs:element ref="branca" minOccurs="0"/>
			<xs:element ref="codiTipusEstudi"/>
			<xs:element ref="tipusEstudi" minOccurs="0"/>
			<xs:element ref="denominacioCurta"/>
			<xs:element ref="codiSituacio"/>
			<xs:element name="situacio">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="ALTA"/>
						<xs:enumeration value="BAJA"/>
						<xs:enumeration value="EXTINGUIDA"/>
						<xs:enumeration value="A EXTINGUIR"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element ref="codiTramitacio"/>
			<xs:element ref="nivellMeces" minOccurs="0"/>
			<xs:element ref="habilita" minOccurs="0"/>
			<xs:element ref="codiProfessioRegulada" minOccurs="0"/>
			<xs:element ref="professioRegulada" minOccurs="0"/>
			<xs:element ref="credits" minOccurs="0"/>
			<xs:element name="dataVerificacio" type="xs:date" minOccurs="0"/>
			<xs:element name="dataConsellMinistres" type="xs:date" minOccurs="0"/>
			<xs:element name="dataAutoritzacio" type="xs:date" minOccurs="0"/>
			<xs:element ref="codiIsced1" minOccurs="0"/>
			<xs:element ref="isced1" minOccurs="0"/>
			<xs:element ref="codiIsced2" minOccurs="0"/>
			<xs:element ref="isced2" minOccurs="0"/>
			<xs:element ref="BOE" minOccurs="0"/>
			<xs:element ref="pla" minOccurs="0"/>
			<xs:element ref="titulacioErasmus" minOccurs="0"/>
			<xs:element ref="consorci" minOccurs="0"/>
			<xs:element ref="condicioAccesTitolProfessional" minOccurs="0"/>
			<xs:element ref="codiTitolProfessionalVinculat" minOccurs="0"/>
			<xs:element ref="titolProfessionalVinculat" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tTitol">
		<xs:complexContent>
			<xs:extension base="tTitolBase">
				<xs:sequence>
					<xs:element ref="codiCentre"/>
					<xs:element name="centre">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:minLength value="1"/>
								<xs:maxLength value="250"/>
								<xs:whiteSpace value="collapse"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tTitolDetall">
		<xs:complexContent>
			<xs:extension base="tTitolBase">
				<xs:sequence>
					<xs:element name="dataPublicacio" type="xs:date" minOccurs="0"/>
					<xs:element name="centres">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="centre" type="tCentreDetall" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>	
					<xs:element ref="acreditacions" minOccurs="0"/>			
					<xs:element ref="competencies" minOccurs="0"/>
					<xs:element ref="especialitats" minOccurs="0"/>
					<xs:element ref="ensenyamentsExtingir" minOccurs="0"/>
					<xs:element ref="mencions" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="codiCentre">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:whiteSpace value="collapse"/>
				<xs:pattern value="\d{8}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="nomCentre">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="250"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="acronim">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="10"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="tipus">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="1"/>
				<xs:enumeration value="2"/>
				<xs:enumeration value="3"/>
				<xs:enumeration value="4"/>
				<xs:enumeration value="5"/>
				<xs:enumeration value="6"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="situacio">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="A"/>
				<xs:enumeration value="B"/>
				<xs:enumeration value="N"/>
				<xs:enumeration value="T"/>
				<xs:enumeration value="P"/>
				<xs:enumeration value="S"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="naturalesa">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="1"/>
				<xs:enumeration value="2"/>
				<xs:enumeration value="3"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="adreca">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="100"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="codiComunitatAutonoma">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="01"/>
				<xs:enumeration value="02"/>
				<xs:enumeration value="03"/>
				<xs:enumeration value="04"/>
				<xs:enumeration value="05"/>
				<xs:enumeration value="06"/>
				<xs:enumeration value="07"/>
				<xs:enumeration value="08"/>
				<xs:enumeration value="09"/>
				<xs:enumeration value="10"/>
				<xs:enumeration value="11"/>
				<xs:enumeration value="12"/>
				<xs:enumeration value="13"/>
				<xs:enumeration value="14"/>
				<xs:enumeration value="15"/>
				<xs:enumeration value="16"/>
				<xs:enumeration value="17"/>
				<xs:enumeration value="18"/>
				<xs:enumeration value="19"/>
				<xs:enumeration value="60"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="comunitatAutonoma">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="50"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="codiProvincia">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="\d{2}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="provincia">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="25"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="codiLocalitat">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="\d{9}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="localitat">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="70"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="codiUniversitat">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="\d{3}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="nomUniversitat">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="75"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="acreditacions">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="acreditacio" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="acreditacio">
		<xs:complexType>
			<xs:all>
				<xs:element ref="codiEstat" minOccurs="0"/>
				<xs:element ref="descripcioEstat" minOccurs="0"/>
				<xs:element name="dataRegistre" type="xs:date" minOccurs="0"/>
				<xs:element name="dataResolucio" type="xs:date" minOccurs="0"/>
				<xs:element ref="tipusAcreditacio" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="codiEstat">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="5"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="descripcioEstat">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="50"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="nomCurt">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="50"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="NIF">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:length value="9"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="tipusUniversitat">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="U000"/>
				<xs:enumeration value="U001"/>
				<xs:enumeration value="U002"/>
				<xs:enumeration value="U003"/>
				<xs:enumeration value="U004"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="codiPais">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="\d{3}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="codiMunicipi">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="50"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="telefon">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="25"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="telefonSecundari">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="25"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="email">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="50"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="fax">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="25"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="urlWeb">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="75"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="codiPostal">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:pattern value="\d{5}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="pertanyEsglesia">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="S"/>
				<xs:enumeration value="N"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="codiErasmus">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="15"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="animLucre">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="S"/>
				<xs:enumeration value="N"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="codiEntitat">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:whiteSpace value="collapse"/>
				<xs:pattern value="\d{3}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="entitat">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="60"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="acreditat">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="S"/>
				<xs:enumeration value="N"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="tipusAcreditacio">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="T"/>
				<xs:enumeration value="I"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="codiNaturalesa">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:enumeration value="1"/>
				<xs:enumeration value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="rol">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Coordinador"/>
				<xs:enumeration value="Coordinadora"/>
				<xs:enumeration value="Participante"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="nivellMeces">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:enumeration value="2"/>
				<xs:enumeration value="3"/>
				<xs:enumeration value="4"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="codiConjunt">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="S"/>
				<xs:enumeration value="N"/>
				<xs:enumeration value="I"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="conjunt">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="15"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="codiEstudi">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:whiteSpace value="collapse"/>
				<xs:pattern value="\d{7}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="estudi">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="650"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="codiBranca">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:enumeration value="1"/>
				<xs:enumeration value="2"/>
				<xs:enumeration value="3"/>
				<xs:enumeration value="4"/>
				<xs:enumeration value="5"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="branca">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="30"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="codiTipusEstudi">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="C"/>
				<xs:enumeration value="G"/>
				<xs:enumeration value="T"/>
				<xs:enumeration value="M93"/>
				<xs:enumeration value="M56"/>
				<xs:enumeration value="D93"/>
				<xs:enumeration value="D56"/>
				<xs:enumeration value="D99"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="tipusEstudi">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="50"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="denominacioCurta">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="250"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="codiSituacio">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="A"/>
				<xs:enumeration value="B"/>
				<xs:enumeration value="X"/>
				<xs:enumeration value="T"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="codiTramitacio">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:whiteSpace value="collapse"/>
				<xs:pattern value="\d{17}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="habilita">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="S"/>
				<xs:enumeration value="N"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="codiProfessioRegulada">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:whiteSpace value="collapse"/>
				<xs:minInclusive value="1"/>
				<xs:maxInclusive value="50"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="professioRegulada">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="150"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="credits">
		<xs:complexType>
			<xs:all>
				<xs:element ref="creditsFormacioBasica" minOccurs="0"/>
				<xs:element ref="creditsObligatoris" minOccurs="0"/>
				<xs:element ref="creditsOptatius" minOccurs="0"/>
				<xs:element ref="creditsPractiquesExternes" minOccurs="0"/>
				<xs:element ref="creditsTreballFiCarrera" minOccurs="0"/>
				<xs:element ref="creditsTitol" minOccurs="0"/>
				<xs:element ref="creditsComplementsFormatius" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="creditsFormacioBasica">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:minInclusive value="0"/>
				<xs:maxInclusive value="500"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="creditsObligatoris">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:minInclusive value="0"/>
				<xs:maxInclusive value="500"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="creditsOptatius">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:minInclusive value="0"/>
				<xs:maxInclusive value="500"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="creditsPractiquesExternes">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:minInclusive value="0"/>
				<xs:maxInclusive value="500"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="creditsTreballFiCarrera">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:minInclusive value="0"/>
				<xs:maxInclusive value="500"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="creditsTitol">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:minInclusive value="0"/>
				<xs:maxInclusive value="500"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="creditsComplementsFormatius">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:minInclusive value="0"/>
				<xs:maxInclusive value="500"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="codiIsced1">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:whiteSpace value="collapse"/>
				<xs:pattern value="\d{3}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="isced1">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="100"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="codiIsced2">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:whiteSpace value="collapse"/>
				<xs:pattern value="\d{3}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="isced2">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="100"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="BOE">
		<xs:complexType>
			<xs:all>
				<xs:element name="dataPublicacio" type="xs:date" minOccurs="0"/>
				<xs:element ref="enllac" minOccurs="0"/>
				<xs:element name="dataCorreccio" type="xs:date" minOccurs="0"/>
				<xs:element ref="enllacCorreccio" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="pla">
		<xs:complexType>
			<xs:all>
				<xs:element name="data" type="xs:date" minOccurs="0"/>
				<xs:element ref="enllac" minOccurs="0"/>
				<xs:element name="dataCorreccio" type="xs:date" minOccurs="0"/>
				<xs:element ref="enllacCorreccio" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="enllac">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="250"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="enllacCorreccio">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="250"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="titulacioErasmus">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="S"/>
				<xs:enumeration value="N"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="consorci">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="150"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="condicioAccesTitolProfessional">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="S"/>
				<xs:enumeration value="N"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="codiTitolProfessionalVinculat">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:minInclusive value="1"/>
				<xs:maxInclusive value="15"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="titolProfessionalVinculat">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="100"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="tipusEnsenyamentPresencial">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="S"/>
				<xs:enumeration value="N"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="tipusEnsenyamentSemipresencial">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="S"/>
				<xs:enumeration value="N"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="tipusEnsenyamentVirtual">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="S"/>
				<xs:enumeration value="N"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="placesPrimerAny">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:minInclusive value="0"/>
				<xs:maxInclusive value="100000"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="placesSegonAny">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:minInclusive value="0"/>
				<xs:maxInclusive value="100000"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="placesTercerAny">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:minInclusive value="0"/>
				<xs:maxInclusive value="100000"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="placesQuartAny">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:minInclusive value="0"/>
				<xs:maxInclusive value="100000"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<!-- competències -->
	<xs:element name="competencies">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="basiques" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="competencia" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="especifiques" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="competencia" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="generals" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="competencia" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="transversals" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="competencia" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="competencia">
		<xs:complexType>
			<xs:all>
				<xs:element name="codi">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="10"/>
							<xs:whiteSpace value="collapse"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element ref="denominacio"/>
				<xs:element ref="actiu"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="denominacio">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="1000"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="actiu">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="S"/>
				<xs:enumeration value="N"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>	
	<!-- especialitats -->
	<xs:element name="especialitats">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="especialitat" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="especialitat">
		<xs:complexType>
			<xs:all>
				<xs:element name="codi">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="10"/>
							<xs:whiteSpace value="collapse"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element ref="denominacio"/>
				<xs:element name="dataInici" type="xs:date"/>
				<xs:element name="dataFi" type="xs:date" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<!-- ensenyament extingir -->
	<xs:element name="ensenyamentsExtingir">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ensenyament" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ensenyament">
		<xs:complexType>
			<xs:all>
				<xs:element name="codi">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="10"/>
							<xs:whiteSpace value="collapse"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element ref="denominacio"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<!-- nencions -->
	<xs:element name="mencions">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="mencio" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="mencio">
		<xs:complexType>
			<xs:all>
				<xs:element name="codi">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="10"/>
							<xs:whiteSpace value="collapse"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element ref="denominacio"/>
				<xs:element name="dataInici" type="xs:date"/>
				<xs:element name="dataFi" type="xs:date" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>	
	<!-- ======================================================= -->
	<!-- Resultat                                                -->
	<!-- ======================================================= -->
	<xs:element name="resultat">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="codiResultat" type="xs:string"/>
				<xs:element name="descripcio" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>