Sincron_iop.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2 (branches/2.2-7015; 2012-02-20T20:31:25+0000) JAXWS-RI/2.2.6 JAXWS/2.2 svn-revision#unknown. -->
<wsdl:definitions xmlns:conv="http://www.openuri.org/2002/04/soap/conversation/" xmlns:cw="http://www.openuri.org/2002/04/wsdl/conversation/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:jms="http://www.openuri.org/2002/04/wsdl/jms/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.openuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" targetNamespace="http://www.openuri.org/">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:pet="http://gencat.net/scsp/esquemes/peticion" xmlns:res="http://gencat.net/scsp/esquemes/respuesta" elementFormDefault="qualified" targetNamespace="http://www.openuri.org/">
			<xs:import namespace="http://gencat.net/scsp/esquemes/peticion"/>
			<xs:import namespace="http://gencat.net/scsp/esquemes/respuesta"/>
			<xs:element name="procesa">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="pet:Peticion"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="procesaResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="res:Respuesta"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>

		<xs:schema 
		xmlns="http://gencat.net/scsp/esquemes/peticion" 
		xmlns:xs="http://www.w3.org/2001/XMLSchema" 
		xmlns:xmime="http://www.w3.org/2005/05/xmlmime" 
		xmlns:inem="http://www.aocat.net/inem"  
		xmlns:pscp="http://webservices.pscp.economia.gencat.capgemini.com" 
		xmlns:tfn="http://www.aoc.cat/tfn" 
		xmlns:tfm="http://www.aoc.cat/tfm" 
		xmlns:idescat="http://www.aocat.net/padro" 
		xmlns:grau="http://www.aocat.net/discapacitat" 
		xmlns:soc="http://gencat.net/scsp/esquemes/SOC"   
		xmlns:rca="http://www.aocat.net/rca" 
		xmlns:reg="http://www.aoc.cat/regentitats" 
		xmlns:padro="http://www.aocat.net/padro" 
		xmlns:merc="http://www.aocat.net/registradors" 
		xmlns:prop="http://www.aocat.net/registradors" 
		xmlns:dcoc="http://aoc.net/dcoc/v2/peticio" 
		xmlns:ppe="http://www.aocat.net/aeat/irpf" 
		xmlns:iae="http://www.aoc.cat/aeat/iae" 
		xmlns:irpf20="http://www.aocat.net/aeat/irpf" 
		xmlns:irpf="http://www.aocat.net/aeat/irpf" 		
		xmlns:tgss_alta_fecha="http://www.tgss.es/altafecha/esquemas/afiliacion/datosespecificos" 
		xmlns:tgss_agra="http://www.tgss.es/actividadagraria/esquemas/afiliacion/datosespecificos" 
		xmlns:tgss_lab="http://www.aoc.cat/tgss"
		xmlns:dgp="http://www.aoc.cat/dgp/identitat" 
		xmlns:dgt="http://www.aoc.cat/dgt" 
		xmlns:cad="http://www.aocat.net/cadastre" 
		xmlns:inss="http://www.aoc.cat/inss" 
		xmlns:reg_civ="http://www.aoc.cat/registre-civil"
		xmlns:ant_pen="http://www.aoc.cat/antecedents-penals"
	    xmlns:estrangeria="http://www.aoc.cat/estrangeria/residencia-legal"
		xmlns:mux="http://net.aocat/MUX2/PeticioRegistre"
		xmlns:rpc="http://cat.aoc/rpc/peticion"
		xmlns:igae="http://www.aoc.cat/igae"
		xmlns:atmv="http://www.aocat.net/dgt/atmv"
		xmlns:rgc="http://www.aoc.cat/rgc"
		xmlns:rpe="http://www.aoc.cat/rpe"
		xmlns:mepsyd="http://www.aocat.net/mepsyd"
		xmlns:notaris="http://www.aoc.cat/poders-notarials"
		xmlns:dgp_residencia="http://www.aoc.cat/dgp-historic-residencia"
		
		
		targetNamespace="http://gencat.net/scsp/esquemes/peticion"  elementFormDefault="qualified" attributeFormDefault="unqualified">
			<xs:import namespace="http://www.aocat.net/inem" schemaLocation="./VO/VO - ESTAT/INEM/dadesEspecifiques.xsd"/>
			<xs:import namespace="http://www.aoc.cat/tfn" schemaLocation="./VO/VO - GENE/TFN/dadesEspecifiques.xsd"/>
			<xs:import namespace="http://webservices.pscp.economia.gencat.capgemini.com" schemaLocation="./PSCP/pscp-schema-servei.xsd"/>
			<xs:import namespace="http://www.aocat.net/padro" schemaLocation="./VO/VO - GENE/IDESCAT/dadesEspecifiquesHistoric.xsd"/>
			<xs:import namespace="http://www.aoc.cat/tfm" schemaLocation="./VO/VO - GENE/TFM/dadesEspecifiques.xsd"/>
			<xs:import namespace="http://www.aocat.net/discapacitat" schemaLocation="./VO/VO - GENE/GRAU_DISC/dadesEspecifiques.xsd"/>
			<xs:import namespace="http://gencat.net/scsp/esquemes/SOC" schemaLocation="./VO/VO - GENE/SOC/dadesEspecifiquesPICA.xsd"/>
			<xs:import namespace="http://www.aocat.net/rca" schemaLocation="./VO/VO - GENE/RCA/dadesEspecifiques.xsd"/>
			<xs:import namespace="http://www.aoc.cat/regentitats" schemaLocation="./VO/VO - GENE/REG_ENT/dadesEspecifiques.xsd"/>
			<xs:import namespace="http://www.aocat.net/padro" schemaLocation="./VO/VO - LOCAL/dadesEspecifiques.xsd"/>
			<xs:import namespace="http://www.aocat.net/registradors" schemaLocation="./VO/VO - DCOC_CORPME/PROP/dadesEspecifiques.xsd"/>
			<xs:import namespace="http://www.aocat.net/registradors" schemaLocation="./VO/VO - DCOC_CORPME/MERC/dadesEspecifiques.xsd"/>
			<xs:import namespace="http://aoc.net/dcoc/v2/peticio" schemaLocation="./VO/VO - DCOC_CORPME/DCOC/DCOC-peticiov2.xsd"/>			
			<xs:import namespace="http://www.aocat.net/aeat/irpf" schemaLocation="./VO/VO - ESTAT/AEAT/dadesEspecifiques-AEATPPE.xsd"/>
			<xs:import namespace="http://www.aoc.cat/aeat/iae" schemaLocation="./VO/VO - ESTAT/AEAT/dadesEspecifiques-AEATIAE.xsd"/>
			<xs:import namespace="http://www.aocat.net/aeat/irpf" schemaLocation="./VO/VO - ESTAT/AEAT/dadesEspecifiques-ADWSIRPF-202X.xsd"/>
			<xs:import namespace="http://www.aocat.net/aeat/irpf" schemaLocation="./VO/VO - ESTAT/AEAT/dadesEspecifiques-ADWSIRPF.xsd"/>
			<xs:import namespace="http://www.tgss.es/altafecha/esquemas/afiliacion/datosespecificos" schemaLocation="./VO/VO - ESTAT/TGSS/datos-especificos-Q2827003ATGSS006.xsd"/>
			<xs:import namespace="http://www.tgss.es/actividadagraria/esquemas/afiliacion/datosespecificos" schemaLocation="./VO/VO - ESTAT/TGSS/datos-especificos-Q2827003ATGSS008.xsd"/>
			<xs:import namespace="http://www.aoc.cat/tgss" schemaLocation="./VO/VO - ESTAT/TGSS_VIDA_LAB/dadesEspecifiques.xsd"/>
			<xs:import namespace="http://www.aoc.cat/dgp/identitat" schemaLocation="./VO/VO - ESTAT/DGP/dadesEspecifiques.xsd"/>
			<xs:import namespace="http://www.aoc.cat/dgt" schemaLocation="./VO/VO - ESTAT/DGT/dadesEspecifiques-DGT_DADES_VEHICLE.xsd"/>
			<xs:import namespace="http://www.aoc.cat/dgt" schemaLocation="./VO/VO - ESTAT/DGT/dadesEspecifiques-DGT_DADES_VEHICLE_SANCIONS.xsd"/>
			<xs:import namespace="http://www.aoc.cat/dgt" schemaLocation="./VO/VO - ESTAT/DGT/dadesEspecifiques-DGT_PERMISOS_CONDUCTOR.xsd"/>
			<xs:import namespace="http://www.aoc.cat/dgt" schemaLocation="./VO/VO - ESTAT/DGT/dadesEspecifiques-DGT_SANCIONS_CONDUCTOR.xsd"/>
			<xs:import namespace="http://www.aoc.cat/dgt" schemaLocation="./VO/VO - ESTAT/DGT/dadesEspecifiques-DGT_TITULAR_VIA.xsd"/>
			<xs:import namespace="http://www.aoc.cat/dgt" schemaLocation="./VO/VO - ESTAT/DGT/dadesEspecifiques-DGT_VEHICLES_CONDUCTOR.xsd"/>		
			<xs:import namespace="http://www.aocat.net/cadastre" schemaLocation="./VO/VO - ESTAT/CADASTRE/dadesEspecifiques-CERTIFICACIO_TITULARITAT.xsd"/>
			<xs:import namespace="http://www.aocat.net/cadastre" schemaLocation="./VO/VO - ESTAT/CADASTRE/dadesEspecifiques-DADES_CADASTRALS.xsd"/>
			<xs:import namespace="http://www.aocat.net/cadastre" schemaLocation="./VO/VO - ESTAT/CADASTRE/dadesEspecifiques-DESCRIPTIVA_GRAFICA.xsd"/>			
			<xs:import namespace="http://www.aoc.cat/inss" schemaLocation="./VO/VO - ESTAT/INSS/dadesEspecifiques-PRESTACIONS_HISTORIC.xsd"/>
			<xs:import namespace="http://www.aoc.cat/registre-civil" schemaLocation="./VO/VO - ESTAT/REG_CIVIL/dadesEspecifiques.xsd"/>	
			<xs:import namespace="http://www.aoc.cat/antecedents-penals" schemaLocation="./VO/VO - ESTAT/ANT_PENAL/dadesEspecifiques.xsd"/>		
			<xs:import namespace="http://www.aoc.cat/estrangeria/residencia-legal" schemaLocation="./VO/VO - ESTAT/ESTRANGERIA/dadesEspecifiques.xsd"/>			
			<xs:import namespace="http://net.aocat/MUX2/PeticioRegistre" schemaLocation="./MUX/PeticioMUX2.xsd"/>	
			<xs:import namespace="http://cat.aoc/rpc/peticion" schemaLocation="./RPC/dadesEspecifiques.xsd"/>	
			<xs:import namespace="http://www.aoc.cat/igae" schemaLocation="./VO/VO - ESTAT/IGAE/dadesEspecifiques.xsd"/>	
			<xs:import namespace="http://www.aocat.net/dgt/atmv" schemaLocation="./VO/VO - ESTAT/ATMV/dadesEspecifiques.xsd"/>		
			<xs:import namespace="http://www.aoc.cat/rgc" schemaLocation="./VO/VO - GENE/RGC/dadesEspecifiques.xsd"/>				
			<xs:import namespace="http://www.aoc.cat/rgc" schemaLocation="./VO/VO - GENE/RPE/dadesEspecifiques.xsd"/>
			<xs:import namespace="http://www.aocat.net/mepsyd" schemaLocation="./VO/VO - ESTAT/MEPSYD/dadesEspecifiques.xsd"/>	
			<xs:import namespace="http://www.aoc.cat/poders-notarials" schemaLocation="./VO/VO - ESTAT/NOTARIS/dadesEspecifiques.xsd"/>	
			<xs:import namespace="http://www.aoc.cat/dgp-historic-residencia" schemaLocation="./VO/VO - ESTAT/DGP_RESIDENCIA/dadesEspecifiques.xsd"/>	
			
			
				<xs:element name="Apellido1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Apellido2">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Atributos">
				<xs:complexType>
					<xs:all>
						<xs:element ref="IdPeticion"/>
						<xs:element ref="NumElementos"/>
						<xs:element ref="TimeStamp"/>
						<xs:element ref="Estado" minOccurs="0"/>
						<xs:element ref="CodigoCertificado"/>
						<xs:element ref="CodigoProducto"/>
						<xs:element ref="DatosAutorizacion" minOccurs="0"/>
						<xs:element ref="Emisor" minOccurs="0"/>
						<xs:element ref="IdSolicitanteOriginal" minOccurs="0"/>
						<xs:element ref="NomSolicitanteOriginal" minOccurs="0"/>
						<xs:element ref="Funcionario" minOccurs="0"/>
					</xs:all>
				</xs:complexType>
			</xs:element>
			<xs:element name="CodigoCertificado">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CodigoEstado">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CodigoEstadoSecundario">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="16"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Consentimiento">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Si"/>
						<xs:enumeration value="Ley"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DatosGenericos">
				<xs:complexType>
					<xs:all>
						<xs:element ref="Emisor" minOccurs="0"/>
						<xs:element ref="Solicitante"/>
						<xs:element ref="Titular" minOccurs="0"/>
						<xs:element ref="Transmision"/>
						<xs:element ref="Ficheros" minOccurs="0"/>
					</xs:all>
				</xs:complexType>
			</xs:element>
			<xs:element name="Documentacion">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="14"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Emisor">
				<xs:complexType>
					<xs:all>
						<xs:element ref="NifEmisor"/>
						<xs:element ref="NombreEmisor"/>
					</xs:all>
				</xs:complexType>
			</xs:element>
			<xs:element name="Estado">
				<xs:complexType>
					<xs:all>
						<xs:element ref="CodigoEstado" minOccurs="0"/>
						<xs:element ref="CodigoEstadoSecundario" minOccurs="0"/>
						<xs:element ref="LiteralError" minOccurs="0"/>
						<xs:element ref="TiempoEstimadoRespuesta" minOccurs="0"/>
					</xs:all>
				</xs:complexType>
			</xs:element>
			<xs:element name="FechaGeneracion">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="29"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Finalidad">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="250"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Funcionario">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="NombreCompletoFuncionario" minOccurs="0"/>
						<xs:element ref="NifFuncionario" minOccurs="0"/>
						<xs:element ref="EMailFuncionario" minOccurs="0"/>
						<xs:element ref="CodigoOrganismoFuncionario" minOccurs="0"/>
						<xs:element name="CertificadoDigital" type="xs:base64Binary" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="IdentificadorSolicitante">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="IdPeticion">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="IdSolicitud">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="IdTransmision">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="26"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="LiteralError">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="NifEmisor">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="NombreCompletoFuncionario">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="122"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="NifFuncionario">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="EMailFuncionario">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="122"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CodigoOrganismoFuncionario">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Nombre">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="NombreCompleto">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="122"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="NombreEmisor">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="NombreSolicitante">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="NumElementos">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:totalDigits value="7"/>
						<xs:minInclusive value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Peticion">
				<xs:complexType>
					<xs:all>
						<xs:element ref="Atributos"/>
						<xs:element ref="Solicitudes"/>
					</xs:all>
				</xs:complexType>
			</xs:element>
			<xs:element name="Solicitante">
				<xs:complexType>
					<xs:all>
						<xs:element ref="IdentificadorSolicitante"/>
						<xs:element ref="NombreSolicitante"/>
						<xs:element ref="Finalidad"/>
						<xs:element ref="Consentimiento"/>
						<xs:element ref="Funcionario" minOccurs="0"/>
					</xs:all>
				</xs:complexType>
			</xs:element>
			<xs:element name="Solicitudes">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="SolicitudTransmision" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="SolicitudTransmision">
				<xs:complexType>
					<xs:all>
						<xs:element ref="DatosGenericos"/>
						<xs:element ref="DatosEspecificos" minOccurs="0"/>
					</xs:all>
				</xs:complexType>
			</xs:element>
			<xs:element name="DatosEspecificos">
				<xs:complexType>
					<xs:choice>
						<xs:element ref="inem:peticioVerificacioImportsPeriode" minOccurs="0"/>
						<xs:element ref="pscp:publishContractNotice" minOccurs="0"/>
						<xs:element ref="pscp:cancelTendering" minOccurs="0"/>
						<xs:element ref="pscp:publishContractAwardNotice" minOccurs="0"/>
						<xs:element ref="tfn:peticioConsultaVigencia" minOccurs="0"/>
						<xs:element ref="tfn:peticioDadesCompletes" minOccurs="0"/>
						<xs:element ref="tfn:peticioDadesCompletesDiscapacitats" minOccurs="0"/>
						<xs:element ref="idescat:peticionDatosTitularHistorico" minOccurs="0"/>
						<xs:element ref="idescat:peticionDatosConvivientesHistorico" minOccurs="0"/>
						<xs:element ref="tfm:peticioConsultaVigencia" minOccurs="0"/>
						<xs:element ref="tfm:peticioDadesCompletes" minOccurs="0"/>
						<xs:element ref="grau:peticioConsultaDiscapacitatSimple" minOccurs="0"/>
						<xs:element ref="grau:peticioConsultaDiscapacitatTotal" minOccurs="0"/>
						<xs:element ref="soc:CertificatRequest" minOccurs="0"/>
						<xs:element ref="rca:peticioConsultaAssegurat" minOccurs="0"/>
						<xs:element ref="rca:peticioVerificacioAssegurat" minOccurs="0"/>
						<xs:element ref="reg:peticioDadesConsulta" minOccurs="0"/>
						<xs:element ref="reg:peticioDadesConsultaComptes" minOccurs="0"/>
						<xs:element ref="reg:peticioBasicaConsulta" minOccurs="0"/>
						<xs:element ref="padro:peticionDatosConvivientes" minOccurs="0"/>
						<xs:element ref="merc:peticionHonorariosInformacionGeneralMercantil" minOccurs="0"/>
						<xs:element ref="merc:peticionInformacionGeneralMercantil" minOccurs="0"/>
						<xs:element ref="prop:peticionNotaSimpleRegistroPropiedad" minOccurs="0"/>
						<xs:element ref="prop:peticionNotaLocalizacionRegistroPropiedad" minOccurs="0"/>
						<xs:element ref="dcoc:peticioDCOC" minOccurs="0"/>						
						<xs:element ref="ppe:peticioConsultaPPE" minOccurs="0"/>
						<xs:element ref="iae:peticioConsultaIAE" minOccurs="0"/>
						<xs:element ref="irpf20:peticioConsultaIRPF" minOccurs="0"/>
						<xs:element ref="irpf:peticioConsultaIRPF" minOccurs="0"/>
						<xs:element ref="tgss_alta_fecha:DatosEspecificos" minOccurs="0"/>
						<xs:element ref="tgss_agra:DatosEspecificos" minOccurs="0"/>
						<xs:element ref="tgss_lab:peticioConsultaVidaLaboral" minOccurs="0"/>
						<xs:element ref="dgp:peticioConsultaDadesIdentitat" minOccurs="0"/>
						<xs:element ref="dgp:peticioVerificacioDadesIdentitat" minOccurs="0"/>
						<xs:element ref="dgt:peticioConsultaVehicle" minOccurs="0"/>
						<xs:element ref="dgt:peticioConsultaVehicleSancions" minOccurs="0"/>
						<xs:element ref="dgt:peticioConsultaTitularVia" minOccurs="0"/>
						<xs:element ref="cad:peticioCertificacioTitular" minOccurs="0"/>
						<xs:element ref="cad:peticioConsultaDades" minOccurs="0"/>
						<xs:element ref="cad:peticioDescriptivaIGrafica" minOccurs="0"/>
						<xs:element ref="inss:peticioConsultaPrestacionsHistoric" minOccurs="0"/>
						<xs:element ref="reg_civ:peticioConsultaRegistreCivil" minOccurs="0"/>
						<xs:element ref="ant_pen:peticioInexistenciaAntecedentsPenals" minOccurs="0"/>
						<xs:element ref="ant_pen:peticioInexistenciaAntecedentsPenalsDelictesSexuals" minOccurs="0"/>
						<xs:element ref="estrangeria:peticioConsultaDadesResidenciaLegal" minOccurs="0"/>
						<xs:element ref="mux:PeticioRegistre" minOccurs="0"/>
						<xs:element ref="rpc:comunicacio" minOccurs="0"/>
						<xs:element ref="igae:peticioConsultaInhabilitacions" minOccurs="0"/>
						<xs:element ref="igae:peticioConsultaSubvencionsMinimis" minOccurs="0"/>
						<xs:element ref="igae:peticioConsultaConcessions" minOccurs="0"/>
						<xs:element ref="atmv:peticioAltaImpagament" minOccurs="0"/>
						<xs:element ref="atmv:peticioConsultaImpagament" minOccurs="0"/>
						<xs:element ref="atmv:peticioEliminacioImpagament" minOccurs="0"/>
						<xs:element ref="rgc:peticioConsultaPrestacions" minOccurs="0"/>
						<xs:element ref="rgc:peticioConsultaPrestacionsHistoric" minOccurs="0"/>
						<xs:element ref="rpe:peticioConsultaParellesEstables" minOccurs="0"/>
						<xs:element ref="rpe:peticioVerificacioParellesEstables" minOccurs="0"/>
						<xs:element ref="mepsyd:titolsUniversitaris" minOccurs="0"/>
						<xs:element ref="mepsyd:titolsNoUniversitaris" minOccurs="0"/>						
						<xs:element ref="notaris:peticioConsultaSubsistenciaAdministradors" minOccurs="0"/>
						<xs:element ref="notaris:peticioConsultaSubsistenciaPoders" minOccurs="0"/>
						<xs:element ref="notaris:peticioConsultaNotaris" minOccurs="0"/>
						<xs:element ref="notaris:peticioConsultaCopiaSimple" minOccurs="0"/>	
						<xs:element ref="dgp_residencia:peticioConsultaHistoricResidencia" minOccurs="0"/>	


					</xs:choice>
				</xs:complexType>
			</xs:element>
			<xs:element name="TiempoEstimadoRespuesta">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:totalDigits value="4"/>
						<xs:minInclusive value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TimeStamp">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="29"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TipoDocumentacion">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="CIF"/>
						<xs:enumeration value="NIF"/>
						<xs:enumeration value="DNI"/>
						<xs:enumeration value="Pasaporte"/>
						<xs:enumeration value="NIE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Titular">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="TipoDocumentacion"/>
						<xs:element ref="Documentacion"/>
						<xs:element ref="NombreCompleto" minOccurs="0"/>
						<xs:element ref="Nombre" minOccurs="0"/>
						<xs:element ref="Apellido1" minOccurs="0"/>
						<xs:element ref="Apellido2" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Transmision">
				<xs:complexType>
					<xs:all>
						<xs:element ref="CodigoCertificado"/>
						<xs:element ref="IdSolicitud"/>
						<xs:element ref="IdTransmision" minOccurs="0"/>
						<xs:element ref="FechaGeneracion" minOccurs="0"/>
					</xs:all>
				</xs:complexType>
			</xs:element>
			<xs:element name="DatosAutorizacion">
				<xs:complexType>
					<xs:all>
						<xs:element ref="IdentificadorSolicitante"/>
						<xs:element ref="NombreSolicitante"/>
						<xs:element ref="Finalidad"/>
					</xs:all>
				</xs:complexType>
			</xs:element>
			<xs:element name="CodigoProducto">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="IdSolicitanteOriginal">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="NomSolicitanteOriginal">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Ficheros">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="Fichero" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Fichero">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="NombreFichero" type="xs:string" minOccurs="0"/>
						<xs:choice>
							<xs:element name="RutaFichero" type="xs:string"/>
							<xs:element name="URLDescarga" type="xs:string"/>
							<xs:element name="Contenido" type="xs:base64Binary" xmime:expectedContentTypes="application/octet-stream"/>
						</xs:choice>
						<xs:element ref="Id"/>
						<xs:element name="Hash" type="xs:base64Binary" minOccurs="0"/>
						<xs:element name="Firma" type="xs:base64Binary" minOccurs="0"/>
						<xs:element ref="Via" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Id">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Via">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Entrada"/>
						<xs:enumeration value="Salida"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:schema>

		<xs:schema xmlns="http://gencat.net/scsp/esquemes/respuesta" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" targetNamespace="http://gencat.net/scsp/esquemes/respuesta" elementFormDefault="qualified" attributeFormDefault="unqualified">
			<xs:element name="Apellido1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Apellido2">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Atributos">
				<xs:complexType>
					<xs:all>
						<xs:element ref="IdPeticion"/>
						<xs:element ref="NumElementos"/>
						<xs:element ref="TimeStamp"/>
						<xs:element ref="Estado" minOccurs="0"/>
						<xs:element ref="CodigoCertificado"/>
						<xs:element ref="CodigoProducto"/>
						<xs:element ref="Emisor" minOccurs="0"/>
						<xs:element ref="IdSolicitanteOriginal" minOccurs="0"/>
						<xs:element ref="NomSolicitanteOriginal" minOccurs="0"/>
						<xs:element ref="Funcionario" minOccurs="0"/>
					</xs:all>
				</xs:complexType>
			</xs:element>
			<xs:element name="CodigoCertificado">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CodigoEstado">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CodigoEstadoSecundario">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="16"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Consentimiento">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Si"/>
						<xs:enumeration value="Ley"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DatosGenericos">
				<xs:complexType>
					<xs:all>
						<xs:element ref="Emisor" minOccurs="0"/>
						<xs:element ref="Solicitante"/>
						<xs:element ref="Titular" minOccurs="0"/>
						<xs:element ref="Transmision"/>
						<xs:element ref="Ficheros" minOccurs="0"/>
					</xs:all>
				</xs:complexType>
			</xs:element>
			<xs:element name="Documentacion">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="14"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Emisor">
				<xs:complexType>
					<xs:all>
						<xs:element ref="NifEmisor"/>
						<xs:element ref="NombreEmisor"/>
					</xs:all>
				</xs:complexType>
			</xs:element>
			<xs:element name="Estado">
				<xs:complexType>
					<xs:all>
						<xs:element ref="CodigoEstado" minOccurs="0"/>
						<xs:element ref="CodigoEstadoSecundario" minOccurs="0"/>
						<xs:element ref="LiteralError" minOccurs="0"/>
						<xs:element ref="TiempoEstimadoRespuesta" minOccurs="0"/>
					</xs:all>
				</xs:complexType>
			</xs:element>
			<xs:element name="FechaGeneracion">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="29"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Finalidad">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="250"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Funcionario">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="NombreCompletoFuncionario" minOccurs="0"/>
						<xs:element ref="NifFuncionario" minOccurs="0"/>
						<xs:element ref="EMailFuncionario" minOccurs="0"/>
						<xs:element ref="CodigoOrganismoFuncionario" minOccurs="0"/>
						<xs:element name="CertificadoDigital" type="xs:base64Binary" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="IdentificadorSolicitante">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="IdPeticion">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="IdSolicitud">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="IdTransmision">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="29"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="LiteralError">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="NifEmisor">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="NombreCompletoFuncionario">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="122"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="NifFuncionario">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="EMailFuncionario">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="122"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CodigoOrganismoFuncionario">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Nombre">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="NombreCompleto">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="122"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="NombreEmisor">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="NombreSolicitante">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="NumElementos">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:totalDigits value="7"/>
						<xs:minInclusive value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Respuesta">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="Atributos"/>
						<!-- Las transmisiones son opcionales en caso de que la repuesta no este preparada y se devuelva un TER -->
						<xs:element ref="Transmisiones" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Solicitante">
				<xs:complexType>
					<xs:all>
						<xs:element ref="IdentificadorSolicitante"/>
						<xs:element ref="NombreSolicitante"/>
						<xs:element ref="Finalidad"/>
						<xs:element ref="Consentimiento"/>
						<xs:element ref="Funcionario" minOccurs="0"/>
					</xs:all>
				</xs:complexType>
			</xs:element>
			<xs:element name="TiempoEstimadoRespuesta">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:totalDigits value="4"/>
						<xs:minInclusive value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TimeStamp">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="29"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TipoDocumentacion">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="CIF"/>
						<xs:enumeration value="NIF"/>
						<xs:enumeration value="DNI"/>
						<xs:enumeration value="Pasaporte"/>
						<xs:enumeration value="NIE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Titular">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="TipoDocumentacion"/>
						<xs:element ref="Documentacion"/>
						<xs:element ref="NombreCompleto" minOccurs="0"/>
						<xs:element ref="Nombre" minOccurs="0"/>
						<xs:element ref="Apellido1" minOccurs="0"/>
						<xs:element ref="Apellido2" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Transmision">
				<xs:complexType>
					<xs:all>
						<xs:element ref="CodigoCertificado"/>
						<xs:element ref="IdSolicitud"/>
						<xs:element ref="IdTransmision"/>
						<xs:element ref="FechaGeneracion"/>
					</xs:all>
				</xs:complexType>
			</xs:element>
			<xs:element name="TransmisionDatos">
				<xs:complexType>
					<xs:all>
						<xs:element ref="DatosGenericos"/>
						<xs:element name="DatosEspecificos" type="xs:anyType" minOccurs="0"/>
					</xs:all>
				</xs:complexType>
			</xs:element>
			<!-- 
		  Las transmisiones son opcionales en caso de devolver en la respuesta un nuevo TER.
		  	-->
			<xs:element name="Transmisiones" nillable="false">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="TransmisionDatos" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CodigoProducto">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="IdSolicitanteOriginal">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="NomSolicitanteOriginal">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Ficheros">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="Fichero" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Fichero">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="NombreFichero" type="xs:string" minOccurs="0"/>
						<xs:choice>
							<xs:element name="RutaFichero" type="xs:string"/>
							<xs:element name="URLDescarga" type="xs:string"/>
							<xs:element name="Contenido" type="xs:base64Binary" xmime:expectedContentTypes="application/octet-stream"/>
						</xs:choice>
						<xs:element ref="Id"/>
						<xs:element name="Hash" type="xs:base64Binary" minOccurs="0"/>
						<xs:element name="Firma" type="xs:base64Binary" minOccurs="0"/>
						<xs:element ref="Via" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Id">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Via">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Entrada"/>
						<xs:enumeration value="Salida"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:schema>

	</wsdl:types>
	<wsdl:message name="procesaSoapIn">
		<wsdl:part name="parameters" element="s0:procesa"/>
	</wsdl:message>
	<wsdl:message name="procesaSoapOut">
		<wsdl:part name="parameters" element="s0:procesaResponse"/>
	</wsdl:message>
	<wsdl:portType name="SincronSoap">
		<wsdl:operation name="procesa">
			<wsdl:input message="s0:procesaSoapIn"/>
			<wsdl:output message="s0:procesaSoapOut"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SincronSoap" type="s0:SincronSoap">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="procesa">
			<soap:operation soapAction="http://www.openuri.org/procesa" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Sincron">
		<wsdl:port name="SincronSoap" binding="s0:SincronSoap">
			<soap:address location="http://serveis3-pre.iop.aoc.cat:80/siri-proxy/services/Sincron"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>