VO/VO - ESTAT/AEAT/INFOCAT_respuesta.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- editado con XMLSpy v2015 rel. 4 sp1 (x64) (http://www.altova.com) por AEAT (Agencia Estatal de Administración Tributaria) -->
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by PC Corporativo (AGENCIA TRIBUTARIA) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://intermediacion.redsara.es/scsp/esquemas/datosespecificos" targetNamespace="http://intermediacion.redsara.es/scsp/esquemas/datosespecificos" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="DatosEspecificos">
		<xs:complexType>
			<xs:choice>
				<xs:element name="Ejercicio">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="4"/>
							<xs:minLength value="0"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:sequence>
					<xs:element name="Cabecera">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Referencia">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:minLength value="0"/>
											<xs:maxLength value="11"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="FechaEmision">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:minLength value="0"/>
											<xs:maxLength value="10"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="Ejercicio">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:maxLength value="4"/>
											<xs:minLength value="0"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="Inmuebles" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="NumeroRegistrosExistentesTotal">
									<xs:simpleType>
										<xs:restriction base="xs:integer">
											<xs:minInclusive value="0"/>
											<xs:maxInclusive value="9999"/>
											<xs:totalDigits value="4"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="NumeroRegistrosFacilitadosTotal">
									<xs:simpleType>
										<xs:restriction base="xs:integer">
											<xs:minInclusive value="0"/>
											<xs:maxInclusive value="9999"/>
											<xs:totalDigits value="4"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="InmueblesPadronRustica">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="NumeroRegistrosExistentesPRU">
												<xs:simpleType>
													<xs:restriction base="xs:integer">
														<xs:totalDigits value="4"/>
														<xs:minInclusive value="0"/>
														<xs:maxInclusive value="9999"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
											<xs:element name="NumeroRegistrosFacilitadosPRU">
												<xs:simpleType>
													<xs:restriction base="xs:integer">
														<xs:totalDigits value="4"/>
														<xs:minInclusive value="0"/>
														<xs:maxInclusive value="9999"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
											<xs:element name="DatosInmueble" minOccurs="0" maxOccurs="340">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="ProcedenciaInformacion">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:length value="2"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="Naturaleza">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:length value="2"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="CodigoProvincia">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:length value="2"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="CodigoMunicipio">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:length value="3"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="ValorCatastral">
															<xs:simpleType>
																<xs:restriction base="xs:integer">
																	<xs:totalDigits value="15"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="ValorCatastralSuelo">
															<xs:simpleType>
																<xs:restriction base="xs:integer">
																	<xs:totalDigits value="15"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="ValorCatastralContruccion">
															<xs:simpleType>
																<xs:restriction base="xs:integer">
																	<xs:totalDigits value="15"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="ValorCatastralRU">
															<xs:simpleType>
																<xs:restriction base="xs:integer">
																	<xs:totalDigits value="15"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="ClaveUso">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:length value="1"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="TipologiaLocal">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:minLength value="0"/>
																	<xs:maxLength value="1"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="CodigoDerecho">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:length value="2"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="PorcentajeTitularidad">
															<xs:simpleType>
																<xs:restriction base="xs:integer">
																	<xs:totalDigits value="5"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="FechaInicioTitualidad">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:minLength value="0"/>
																	<xs:maxLength value="9"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="FechaFinTitualidad">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:minLength value="0"/>
																	<xs:maxLength value="9"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="AnioRevisionCatastralMunicipio">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:length value="4"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="AnioRevisionCatastral">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:length value="4"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="MarcaViviendaHabitual">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:minLength value="0"/>
																	<xs:maxLength value="1"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="ReferenciaCatastral">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:length value="20"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="CalidadReferenciaCatastral">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:length value="1"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="InmueblesPadronUrbana">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="NumeroRegistrosExistentesPUR">
												<xs:simpleType>
													<xs:restriction base="xs:integer">
														<xs:totalDigits value="4"/>
														<xs:minInclusive value="0"/>
														<xs:maxInclusive value="9999"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
											<xs:element name="NumeroRegistrosFacilitadosPUR">
												<xs:simpleType>
													<xs:restriction base="xs:integer">
														<xs:totalDigits value="4"/>
														<xs:minInclusive value="0"/>
														<xs:maxInclusive value="9999"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
											<xs:element name="DatosInmueble" minOccurs="0" maxOccurs="340">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="ProcedenciaInformacion">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:length value="2"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="Naturaleza">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:length value="2"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="CodigoProvincia">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:length value="2"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="CodigoMunicipio">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:length value="3"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="ValorCatastral">
															<xs:simpleType>
																<xs:restriction base="xs:integer">
																	<xs:totalDigits value="15"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="ValorCatastralSuelo">
															<xs:simpleType>
																<xs:restriction base="xs:integer">
																	<xs:totalDigits value="15"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="ValorCatastralContruccion">
															<xs:simpleType>
																<xs:restriction base="xs:integer">
																	<xs:totalDigits value="15"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="ValorCatastralRU">
															<xs:simpleType>
																<xs:restriction base="xs:integer">
																	<xs:totalDigits value="15"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="ClaveUso">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:length value="1"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="TipologiaLocal">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:length value="1"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="CodigoDerecho">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:length value="2"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="PorcentajeTitularidad">
															<xs:simpleType>
																<xs:restriction base="xs:integer">
																	<xs:totalDigits value="5"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="FechaInicioTitualidad">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:minLength value="0"/>
																	<xs:maxLength value="9"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="FechaFinTitualidad">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:minLength value="0"/>
																	<xs:maxLength value="9"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="AnioRevisionCatastralMunicipio">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:length value="4"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="AnioRevisionCatastral">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:length value="4"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="MarcaViviendaHabitual">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:length value="1"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="ReferenciaCatastral">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:length value="20"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="CalidadReferenciaCatastral">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:length value="1"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:choice>
		</xs:complexType>
	</xs:element>
</xs:schema>
