VO/VO - ESTAT/AEAT/JAV3_ECOTGEN_respuesta.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by PC Corporativo (AGENCIA TRIBUTARIA) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://intermediacion.redsara.es/scsp/esquemas/datosespecificos" targetNamespace="http://intermediacion.redsara.es/scsp/esquemas/datosespecificos" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="DatosEspecificos">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Referencia">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="0"/>
							<xs:maxLength value="11"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="FechaEmision">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="0"/>
							<xs:maxLength value="10"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ObligacionesTributarias" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="CodigoCertificado">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="8"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="TipoNegativo" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0"/>
										<xs:maxLength value="1" fixed="true"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="CausaNegatividad">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0"/>
										<xs:maxLength value="250"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Incumplimientos" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="NumeroRegistrosExistentes">
											<xs:simpleType>
												<xs:restriction base="xs:integer">
													<xs:totalDigits value="7"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="NumeroRegistrosFacilitados">
											<xs:simpleType>
												<xs:restriction base="xs:integer">
													<xs:totalDigits value="4"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="DatosIncumplimiento" minOccurs="0" maxOccurs="40">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Ejercicio">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="0"/>
																<xs:maxLength value="4"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Modelo">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="0"/>
																<xs:maxLength value="3" fixed="true"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Periodo">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="0"/>
																<xs:maxLength value="2"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
