VO/VO - ESTAT/AEAT/schema_JAV3_ADWSIRPFXML_datos-especificos.xsd

<!-- editado con XMLSpy v2019 sp1 (x64) (http://www.altova.com) por MRI0194R (Agencia Estatal de Administracion Tributaria ((AEAT))) -->
<xs:schema xmlns="http://intermediacion.redsara.es/scsp/esquemas/datosespecificos" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:r2020="http://intermediacion.redsara.es/scsp/esquemas/datosespecificos/renta2020" xmlns:r2021="http://intermediacion.redsara.es/scsp/esquemas/datosespecificos/renta2021" xmlns:r2022="http://intermediacion.redsara.es/scsp/esquemas/datosespecificos/renta2022" xmlns:r2023="http://intermediacion.redsara.es/scsp/esquemas/datosespecificos/renta2023" xmlns:r2024="http://intermediacion.redsara.es/scsp/esquemas/datosespecificos/renta2024" targetNamespace="http://intermediacion.redsara.es/scsp/esquemas/datosespecificos" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!--xs:import namespace="http://intermediacion.redsara.es/scsp/esquemas/datosespecificos/renta2020" schemaLocation="schema_JAV3_ADWSIRPF_datos-especificos_renta2020.xsd"/-->
	<xs:import namespace="http://intermediacion.redsara.es/scsp/esquemas/datosespecificos/renta2020" schemaLocation="schema_JAV3_ADWSIRPFXML_datos-especificos_renta2020.xsd"/>
	<xs:import namespace="http://intermediacion.redsara.es/scsp/esquemas/datosespecificos/renta2021" schemaLocation="schema_JAV3_ADWSIRPFXML_datos-especificos_renta2021.xsd"/>
	<xs:import namespace="http://intermediacion.redsara.es/scsp/esquemas/datosespecificos/renta2022" schemaLocation="schema_JAV3_ADWSIRPFXML_datos-especificos_renta2022.xsd"/>
	<xs:import namespace="http://intermediacion.redsara.es/scsp/esquemas/datosespecificos/renta2023" schemaLocation="schema_JAV3_ADWSIRPFXML_datos-especificos_renta2023.xsd"/>
	<xs:import namespace="http://intermediacion.redsara.es/scsp/esquemas/datosespecificos/renta2024" schemaLocation="schema_JAV3_ADWSIRPFXML_datos-especificos_renta2024.xsd"/>
	<xs:simpleType name="tipo_ImpNegativo">
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="-9999999999999.99"/>
			<xs:maxInclusive value="9999999999999.99"/>
			<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="DatosEspecificos">
		<xs:complexType>
			<xs:choice>
				<xs:element name="Ejercicio">
					<xs:simpleType>
						<xs:restriction base="xs:int"/>
					</xs:simpleType>
				</xs:element>
				<xs:sequence>
					<xs:element name="Cabecera">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="CodRet">
									<xs:simpleType>
										<xs:restriction base="xs:long">
											<xs:minInclusive value="0"/>
											<xs:maxInclusive value="9999"/>
											<xs:totalDigits value="4"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="DescripcionError">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:minLength value="0"/>
											<xs:maxLength value="100"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="Referencia">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:minLength value="0"/>
											<xs:maxLength value="11"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="FechaEmision">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:minLength value="0"/>
											<xs:maxLength value="10"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="Ejercicio">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:maxLength value="4"/>
											<xs:minLength value="0"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="TipoRespuesta">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:minLength value="0"/>
											<xs:maxLength value="2"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="Imputaciones" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Cabecera">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:minLength value="0"/>
											<xs:maxLength value="100"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="DatosEconomicos" minOccurs="0" maxOccurs="100">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Texto">
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:minLength value="0"/>
														<xs:maxLength value="120"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
											<xs:element name="Signo" minOccurs="0">
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:minLength value="0"/>
														<xs:maxLength value="1"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
											<xs:element name="Enteros">
												<xs:simpleType>
													<xs:restriction base="xs:long">
														<xs:minInclusive value="0"/>
														<xs:maxInclusive value="9999999999"/>
														<xs:totalDigits value="10"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
											<xs:element name="Decimales">
												<xs:simpleType>
													<xs:restriction base="xs:long">
														<xs:minInclusive value="0"/>
														<xs:maxInclusive value="99"/>
														<xs:totalDigits value="2"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="Cola" minOccurs="0">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:minLength value="0"/>
											<xs:maxLength value="100"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="irpf" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="CabeceraRenta">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="NifSolicitante">
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:minLength value="0"/>
														<xs:maxLength value="9"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
											<xs:element name="NombreSolicitante">
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:minLength value="0"/>
														<xs:maxLength value="50"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
											<xs:element name="PrimerDeclarante">
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:minLength value="0"/>
														<xs:maxLength value="100"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
											<xs:element name="SegundoTitular" minOccurs="0">
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:minLength value="0"/>
														<xs:maxLength value="100"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
											<xs:element name="Modelo">
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:minLength value="0"/>
														<xs:maxLength value="12"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
											<xs:element name="Tributacion">
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:minLength value="0"/>
														<xs:maxLength value="25"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
											<xs:element name="OrigenDatos">
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:minLength value="0"/>
														<xs:maxLength value="50"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="Importes" minOccurs="0">
									<!-- Importes: unicament s'informa en les modalitats CX -->
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Importe" maxOccurs="unbounded">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="Importe" type="xs:string"/>
														<xs:element name="Descripcion" type="xs:string"/>
														<xs:element name="Valor" type="xs:string"/>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="DatosEconomicos" minOccurs="0" maxOccurs="3000">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="DEGrupo" minOccurs="0">
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:minLength value="0"/>
														<xs:maxLength value="10"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
											<xs:element name="DECasilla">
												<xs:simpleType>
													<xs:restriction base="xs:long">
														<xs:minInclusive value="0"/>
														<xs:maxInclusive value="9999"/>
														<xs:totalDigits value="4"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
											<xs:element name="DESigno" minOccurs="0">
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:minLength value="0"/>
														<xs:maxLength value="1"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
											<xs:element name="DEEnteros">
												<xs:simpleType>
													<xs:restriction base="xs:long">
														<xs:minInclusive value="0"/>
														<xs:maxInclusive value="9999999999"/>
														<xs:totalDigits value="10"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
											<xs:element name="DEDecimales">
												<xs:simpleType>
													<xs:restriction base="xs:long">
														<xs:minInclusive value="0"/>
														<xs:maxInclusive value="99"/>
														<xs:totalDigits value="2"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="OtrosDatos" minOccurs="0" maxOccurs="10">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="ODDescripcion">
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:minLength value="0"/>
														<xs:maxLength value="100"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
											<xs:element name="ODSigno" minOccurs="0">
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:minLength value="0"/>
														<xs:maxLength value="1"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
											<xs:element name="ODEnteros">
												<xs:simpleType>
													<xs:restriction base="xs:long">
														<xs:minInclusive value="0"/>
														<xs:maxInclusive value="9999999999"/>
														<xs:totalDigits value="10"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
											<xs:element name="ODDecimales">
												<xs:simpleType>
													<xs:restriction base="xs:long">
														<xs:minInclusive value="0"/>
														<xs:maxInclusive value="99"/>
														<xs:totalDigits value="2"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="DatosCola">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="DCDatosPersonales" minOccurs="0">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="DCLiteral" minOccurs="0">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:minLength value="0"/>
																	<xs:maxLength value="110"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="DCEstadoCivil" minOccurs="0">
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="DCFecha">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:minLength value="0"/>
																				<xs:maxLength value="10"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:element>
																	<xs:element name="DCContenido">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:minLength value="0"/>
																				<xs:maxLength value="20"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:element>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
														<xs:element name="DCFechaNac" minOccurs="0">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:minLength value="0"/>
																	<xs:maxLength value="10"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="DCMinusvalia" minOccurs="0">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:minLength value="0"/>
																	<xs:maxLength value="5"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
											<xs:element name="DCDatosConyuge" minOccurs="0">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="DCLiteral" minOccurs="0">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:minLength value="0"/>
																	<xs:maxLength value="110"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="DCFechaNac" minOccurs="0">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:minLength value="0"/>
																	<xs:maxLength value="10"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="DCMinusvalia" minOccurs="0">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:minLength value="0"/>
																	<xs:maxLength value="5"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
											<xs:element name="DCDatosHijos" minOccurs="0">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="DCLiteral" minOccurs="0">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:minLength value="0"/>
																	<xs:maxLength value="100"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="DCNumHijos" minOccurs="0" maxOccurs="15">
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="DCNombreHijo" minOccurs="0">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:minLength value="0"/>
																				<xs:maxLength value="100"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:element>
																	<xs:element name="DCFechaNacim" minOccurs="0">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:minLength value="0"/>
																				<xs:maxLength value="10"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:element>
																	<xs:element name="DCFechaAdopc" minOccurs="0">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:minLength value="0"/>
																				<xs:maxLength value="10"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:element>
																	<xs:element name="DCMinusvalia" minOccurs="0">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:minLength value="0"/>
																				<xs:maxLength value="5"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:element>
																	<xs:element name="DCVinculacion" minOccurs="0">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:minLength value="0"/>
																				<xs:maxLength value="10"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:element>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
											<xs:element name="DCDatosAscend" minOccurs="0">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="DCLiteral" minOccurs="0">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:minLength value="0"/>
																	<xs:maxLength value="110"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="DCNumAscend" minOccurs="0" maxOccurs="6">
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="DCNombreAscend" minOccurs="0">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:minLength value="0"/>
																				<xs:maxLength value="100"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:element>
																	<xs:element name="DCFechaNacim" minOccurs="0">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:minLength value="0"/>
																				<xs:maxLength value="10"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:element>
																	<xs:element name="DCMinusvalia" minOccurs="0">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:minLength value="0"/>
																				<xs:maxLength value="5"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:element>
																	<xs:element name="DCVinculacion" minOccurs="0">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:minLength value="0"/>
																				<xs:maxLength value="10"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:element>
																	<xs:element name="DCConvivencia" minOccurs="0">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:minLength value="0"/>
																				<xs:maxLength value="10"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:element>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
											<xs:element name="DCDatosVivienda" minOccurs="0">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="DCLiteral" minOccurs="0">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:minLength value="0"/>
																	<xs:maxLength value="110"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="DCNumViviendas" minOccurs="0" maxOccurs="48">
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="DCContrib" minOccurs="0">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:minLength value="0"/>
																				<xs:maxLength value="15"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:element>
																	<xs:element name="DCParticipac" minOccurs="0">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:minLength value="0"/>
																				<xs:maxLength value="6"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:element>
																	<xs:element name="DCRefCatastr" minOccurs="0">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:minLength value="0"/>
																				<xs:maxLength value="20"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:element>
																	<xs:element name="DCSituacion" minOccurs="0">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:minLength value="0"/>
																				<xs:maxLength value="47"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:element>
																	<xs:element name="DCTitularidad" minOccurs="0">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:minLength value="0"/>
																				<xs:maxLength value="20"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:element>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
											<xs:element name="DCDatosInmuebles" minOccurs="0">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="DCLiteral" minOccurs="0">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:minLength value="0"/>
																	<xs:maxLength value="110"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="DCNumInmuebles" minOccurs="0" maxOccurs="132">
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="DCContrib" minOccurs="0">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:minLength value="0"/>
																				<xs:maxLength value="15"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:element>
																	<xs:element name="DCTitularidad" minOccurs="0">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:minLength value="0"/>
																				<xs:maxLength value="6"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:element>
																	<xs:element name="DCSituacion" minOccurs="0">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:minLength value="0"/>
																				<xs:maxLength value="47"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:element>
																	<xs:element name="DCRefCatastr" minOccurs="0">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:minLength value="0"/>
																				<xs:maxLength value="20"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:element>
																	<xs:element name="DCUso" minOccurs="0">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:minLength value="0"/>
																				<xs:maxLength value="80"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:element>
																	<xs:element name="DCRentaImputada" minOccurs="0">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:minLength value="0"/>
																				<xs:maxLength value="20"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:element>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:choice minOccurs="0">
						<xs:element ref="r2020:Declaracion"/>
						<xs:element ref="r2021:Declaracion"/>
						<xs:element ref="r2022:Declaracion"/>
						<xs:element ref="r2023:Declaracion"/>
						<xs:element ref="r2024:Declaracion"/>
					</xs:choice>
					<xs:element name="NivelRentaDeclaracion" type="tipo_ImpNegativo" minOccurs="0"/>
				</xs:sequence>
			</xs:choice>
			<xs:attribute name="Id" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
