VO/VO - ESTAT/AEAT/SCPWIJ1R_respuesta.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- ======================================================= -->
<!-- Resposta específica adaptada per resposta PCI           -->
<!-- ======================================================= -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns="http://www.aeat.es/ns_SCPWIJ1R/respuesta" targetNamespace="http://www.aeat.es/ns_SCPWIJ1R/respuesta" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="DatosEspecificos">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CABECERA">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="REFERENCIA_S">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0"/>
										<xs:maxLength value="11"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FECHA_EMISION_S">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0"/>
										<xs:maxLength value="10"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="TIPO_RESPUESTA_S" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0"/>
										<xs:maxLength value="2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="NOMBRE_COMPLETO_S" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="DIRECCION" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ADMON_FISC_S" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0"/>
										<xs:maxLength value="5"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="TIPO_DOMI_S" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0"/>
										<xs:maxLength value="2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FECH_DOMI_S" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0"/>
										<xs:maxLength value="8"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="TIPO_VIA_S" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0"/>
										<xs:maxLength value="5"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="CODIGO_VIA_S" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0"/>
										<xs:maxLength value="5"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="VIAPBL_S" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0"/>
										<xs:maxLength value="50"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="VIAPBC_S" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0"/>
										<xs:maxLength value="25"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="TIPO_NUM_S" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0"/>
										<xs:maxLength value="3"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="NUMERO_EN_S" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0"/>
										<xs:maxLength value="5"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="CALIF_NUM_S" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0"/>
										<xs:maxLength value="3"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="BLOQUE_S" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0"/>
										<xs:maxLength value="3"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="PORTAL_S" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0"/>
										<xs:maxLength value="3"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="ESC_S" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0"/>
										<xs:maxLength value="3"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="PISO_S" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0"/>
										<xs:maxLength value="3"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="PTA_S" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0"/>
										<xs:maxLength value="3"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="COMPLEMENTO_S" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0"/>
										<xs:maxLength value="40"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="POBLACION_S" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0"/>
										<xs:maxLength value="30"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="CODPOST_S" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0"/>
										<xs:maxLength value="5"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="CODMUNI_S" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0"/>
										<xs:maxLength value="5"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="MUNICIPIO_S" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0"/>
										<xs:maxLength value="30"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="CODPROV_S" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0"/>
										<xs:maxLength value="2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="NOMPROV_S" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0"/>
										<xs:maxLength value="20"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="E_MAIL_S" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0"/>
										<xs:maxLength value="100"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="TFNO_FIJO_S" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0"/>
										<xs:maxLength value="9"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="TFNO_MOVIL_S" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0"/>
										<xs:maxLength value="9"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FAX_S" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="0"/>
										<xs:maxLength value="9"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
