INEM/datos-especificos.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://www.map.es/scsp/esquemas/datosespecificos" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.map.es/scsp/esquemas/datosespecificos" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="DatosEspecificos" type="DatosEspecificos"/>
	<xs:complexType name="DatosEspecificos">
		<xs:all>
			<xs:element ref="EstadoResultado" minOccurs="0"/>
			<xs:element ref="DatosDesempleo" minOccurs="0"/>
		</xs:all>
	</xs:complexType>
	<xs:element name="CodigoEstado">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="4"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CodigoEstadoSecundario">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="16"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="LiteralError">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="255"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="EstadoResultado">
		<xs:complexType>
			<xs:all>
				<xs:element ref="CodigoEstado" minOccurs="0"/>
				<xs:element ref="CodigoEstadoSecundario" minOccurs="0"/>
				<xs:element ref="LiteralError" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<!-- ================================================================= -->
	<!-- SVDSPEESIT                                                                                                              -->
	<!-- ================================================================= -->
	<xs:element name="DatosDesempleo">
		<xs:complexType>
			<xs:all>
				<xs:element ref="IPF" minOccurs="0"/>
				<xs:element ref="indSituacion" minOccurs="0"/>
				<xs:element ref="tiPres" minOccurs="0"/>
				<xs:element ref="situacion" minOccurs="0"/>
				<xs:element ref="fxInicioSituacion" minOccurs="0"/>
				<xs:element ref="fxFinSituacion" minOccurs="0"/>
				<xs:element ref="diasReconocidos" minOccurs="0"/>
				<xs:element ref="diasConsumidos" minOccurs="0"/>
				<xs:element ref="baseRegula" minOccurs="0"/>
				<xs:element ref="cotizacion" minOccurs="0"/>
				<xs:element ref="cuentaCotiza" minOccurs="0"/>
				<xs:element ref="indRetJudicial" minOccurs="0"/>
				<xs:element ref="indEmbargo" minOccurs="0"/>
				<xs:element ref="indCobroIndebido" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="IPF">
		<xs:annotation>
			<xs:documentation>Identificador de persona física del SPEE-INEM</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="12"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="indSituacion">
		<xs:annotation>
			<xs:documentation>Indicador de informacion</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="tiPres">
		<xs:annotation>
			<xs:documentation>Tipo de prestacion</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="190"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="situacion">
		<xs:annotation>
			<xs:documentation>Situación de la prestacion</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="20"/>
				<xs:enumeration value="ALTA"/>
				<xs:enumeration value="BAJA"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="fxInicioSituacion">
		<xs:annotation>
			<xs:documentation>Fecha de inicio de la situacion actual del derecho</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="8"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="fxFinSituacion">
		<xs:annotation>
			<xs:documentation>Fecha de fin de la situación del derecho</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="8"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="diasReconocidos">
		<xs:annotation>
			<xs:documentation>Numero de dias reconocidos sobre el derecho total</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="4"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="diasConsumidos">
		<xs:annotation>
			<xs:documentation>Numero de dias consumidos </xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="4"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="baseRegula">
		<xs:annotation>
			<xs:documentation>Base reguladora diaria</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="9"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="cotizacion">
		<xs:annotation>
			<xs:documentation>Base de contingencias comunes</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="9"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="cuentaCotiza">
		<xs:annotation>
			<xs:documentation>Patronal del Inem</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="9"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="indRetJudicial">
		<xs:annotation>
			<xs:documentation>Indicador de retención judicial</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="50"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="indEmbargo">
		<xs:annotation>
			<xs:documentation>Indicador de embargo</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="50"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="indCobroIndebido">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="50"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<!-- ================================================================= -->
	<!-- SVDSPEEIACT                                                                                                            -->
	<!-- ================================================================= -->
	<xs:element name="DatosImporteActual">
		<xs:complexType>
			<xs:all>
				<xs:element ref="TIPRES" minOccurs="0"/>
				<xs:element ref="FXINICIOSITUACION" minOccurs="0"/>
				<xs:element ref="FXFINSITUACION" minOccurs="0"/>
				<xs:element ref="BASEREGULA" minOccurs="0"/>
				<xs:element ref="IMPBRUTO" minOccurs="0"/>
				<xs:element ref="IMPREASS" minOccurs="0"/>
				<xs:element ref="IMPIRPF" minOccurs="0"/>
				<xs:element ref="IMPSEGSOC" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="TIPRES">
		<xs:annotation>
			<xs:documentation>Tipo de prestación o subsidio</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="190"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="FXINICIOSITUACION">
		<xs:annotation>
			<xs:documentation>Fecha de inicio de la situación actual del derecho</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="FXFINSITUACION">
		<xs:annotation>
			<xs:documentation>Fecha de fin de la situación actual del derecho</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="BASEREGULA">
		<xs:annotation>
			<xs:documentation>Base reguladora diaria</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="9"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="IMPBRUTO">
		<xs:annotation>
			<xs:documentation>Cuantía del importe bruto</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="12"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="IMPREASS">
		<xs:annotation>
			<xs:documentation>Importe de la cuota fija del REASS</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="12"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="IMPIRPF">
		<xs:annotation>
			<xs:documentation>Importe de la retención a efectos del I.R.P.F.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="12"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="IMPSEGSOC">
		<xs:annotation>
			<xs:documentation>Importe descuento de Seguridad Social</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="12"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<!-- ================================================================= -->
	<!-- SVDSPEEIPER                                                                                                            -->
	<!-- ================================================================= -->
	<xs:element name="DatosImportePeriodo">
		<xs:complexType>
			<xs:all>
				<xs:element ref="IPF" minOccurs="0"/>
				<xs:element ref="FXINICIO" minOccurs="0"/>
				<xs:element ref="FXFINAL" minOccurs="0"/>
				<xs:element ref="IMPBRUTO" minOccurs="0"/>
				<xs:element ref="IMPREASS" minOccurs="0"/>
				<xs:element ref="IMPIRPF" minOccurs="0"/>
				<xs:element ref="IMPSEGSOC" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<!--
	<xs:element name="IPF">
		<xs:annotation>
			<xs:documentation>Identificador de persona física del SPEE-INEM</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="12"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
-->
	<xs:element name="FXINICIO">
		<xs:annotation>
			<xs:documentation>Fecha de inicio del periodo actual del derecho</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="7"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="FXFINAL">
		<xs:annotation>
			<xs:documentation>Fecha de fin del periodo actual del derecho</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="7"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<!--
	<xs:element name="IMPBRUTO">
		<xs:annotation>
			<xs:documentation>Cuantía del importe bruto</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="12"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="IMPREASS">
		<xs:annotation>
			<xs:documentation>Importe de la cuota fija del REASS</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="12"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="IMPIRPF">
		<xs:annotation>
			<xs:documentation>Importe de la retención a efectos del I.R.P.F.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="12"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="IMPSEGSOC">
		<xs:annotation>
			<xs:documentation>Importe descuento de la seguridad social</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="12"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
-->
</xs:schema>
