VO/VO - GENE/SCT_DENUNCIES/RemesaPDA.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.gencat.cat/transit/denuncies" targetNamespace="http://www.gencat.cat/transit/denuncies" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="DADES">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CAPCALERA">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="FITXER_PDA">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="50"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="NUM_BUTLLETES">
								<xs:simpleType>
									<xs:restriction base="xs:int">
										<xs:totalDigits value="4"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="BUTLLETES">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="BUTLLETA" maxOccurs="50">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ACCIO">
											<xs:simpleType>
												<xs:annotation>
													<xs:documentation>
														A: Alta / B: Anul·.lació
													</xs:documentation>
												</xs:annotation>
												<xs:restriction base="xs:string">
													<xs:enumeration value="A"/>
													<xs:enumeration value="B"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="ID_BUTLLETA">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="13"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="SERVEI_TERRIT">
											<xs:simpleType>
												<xs:annotation>
													<xs:documentation>
														08: Barcelona
														17: Girona
														25: Lleida
														43: Tarragona
													</xs:documentation>
												</xs:annotation>
												<xs:restriction base="xs:string">
													<xs:enumeration value="08"/>
													<xs:enumeration value="17"/>
													<xs:enumeration value="25"/>
													<xs:enumeration value="43"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="NUM_EXPEDIENT">
											<xs:simpleType>
												<xs:restriction base="xs:int">
													<xs:totalDigits value="7"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="DIGIT_CONTROL">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:pattern value="\d{1}"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="TIPUS_DENUNCIA">
											<xs:simpleType>
												<xs:annotation>
													<xs:documentation>
														G: Genèrica
														A: Alcoholèmia
														V: Velocitat
													</xs:documentation>
												</xs:annotation>
												<xs:restriction base="xs:string">
													<xs:enumeration value="G"/>
													<xs:enumeration value="A"/>
													<xs:enumeration value="V"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="DATA_DENUNCIA">
											<xs:simpleType>
												<xs:restriction base="AAAAMMDD"/>
											</xs:simpleType>
										</xs:element>
										<xs:element name="HORA_DENUNCIA">
											<xs:simpleType>
												<xs:restriction base="HHMISS"/>
											</xs:simpleType>
										</xs:element>
										<xs:element name="IDIOMA_DENUNCIA">
											<xs:simpleType>
												<xs:annotation>
													<xs:documentation>
														C: Català / E: Castellà
													</xs:documentation>
												</xs:annotation>
												<xs:restriction base="xs:string">
													<xs:enumeration value="C"/>
													<xs:enumeration value="E"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="NORMA_DENUNCIA">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="ARTICLE_DENUNCIA">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="4"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="SUBARTICLE_DENUNCIA">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="4"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="OPCIO_DENUNCIA">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="4"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="PUNTS">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="2"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="MESOS_RETIRADA" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="2"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="NUM_DENUNCIANT">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="12"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="NUM_NOTIFICADOR" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="12"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="TIPUS_VIA">
											<xs:simpleType>
												<xs:annotation>
													<xs:documentation>
														V: Via interurbana (carretera) / C: Via urbana (carrer)
													</xs:documentation>
												</xs:annotation>
												<xs:restriction base="xs:string">
													<xs:enumeration value="V"/>
													<xs:enumeration value="C"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="VIA">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="50"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="VIA_NUMERO">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="7"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="DESCRIPCIO_POBLACIO">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="50"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="DIRECCIO_DENUNCIA" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="40"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="NUM_AGENT_COBRADOR" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="6"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="IMPORT_NOMINAL">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:pattern value="\d{12}"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="IMPORT_PAGAT">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:pattern value="\d{12}"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="IMPORT_DESCOMPTE">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:pattern value="\d{12}"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="DATA_LIMIT_DESCOMPTE">
											<xs:simpleType>
												<xs:restriction base="AAAAMMDD"/>
											</xs:simpleType>
										</xs:element>
										<xs:element name="IND_NOTIFICACIO">
											<xs:simpleType>
												<xs:annotation>
													<xs:documentation>
														X: No Notificada / S: Notificada
													</xs:documentation>
												</xs:annotation>
												<xs:restriction base="xs:string">
													<xs:enumeration value="X"/>
													<xs:enumeration value="S"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="M_NO_NOTIF" minOccurs="0">
											<xs:simpleType>
												<xs:annotation>
													<xs:documentation>
														0001: Conductor absent
														0002: Circular en sentit contrari
														0003: Assistència en accident
														0004: Servei d'urgència
														0005: Regulació de trànsit
														0006: Prova esportiva/recreativa
														0007: Transport especial
														0008: Desobediència agent
														0009: Helicòpter
														0010: Inexistència lloc per aturar infr
														0011: Servei a peu
														0012: Formular una altra denúncia
														0013: Perill per a la circulació
														0014: Responsabilitat titular
														0015: Completar dades
														0016: Text lliure
														0017: Seguretat per a la resta d'usuaris
														0018: Requalificació de denuncia
														0019: Imatge captada automàticament
														0020: Atestats
														0021: Vehicle no logotipat
														0022: Denúncia voluntària
														0023: Manca resultat analítica
														0024: Control estupefaents/RESIDENT
														0025: Denúncia incoada d'ofici
														0026: Manca Resultat Analítica
													</xs:documentation>
												</xs:annotation>
												<xs:restriction base="xs:string">
													<xs:enumeration value="0001"/>
													<xs:enumeration value="0002"/>
													<xs:enumeration value="0003"/>
													<xs:enumeration value="0004"/>
													<xs:enumeration value="0005"/>
													<xs:enumeration value="0006"/>
													<xs:enumeration value="0007"/>
													<xs:enumeration value="0008"/>
													<xs:enumeration value="0009"/>
													<xs:enumeration value="0010"/>
													<xs:enumeration value="0011"/>
													<xs:enumeration value="0012"/>
													<xs:enumeration value="0013"/>
													<xs:enumeration value="0014"/>
													<xs:enumeration value="0015"/>
													<xs:enumeration value="0016"/>
													<xs:enumeration value="0017"/>
													<xs:enumeration value="0018"/>
													<xs:enumeration value="0019"/>
													<xs:enumeration value="0020"/>
													<xs:enumeration value="0021"/>
													<xs:enumeration value="0022"/>
													<xs:enumeration value="0023"/>
													<xs:enumeration value="0024"/>
													<xs:enumeration value="0025"/>
													<xs:enumeration value="0026"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="DATA_HORA_ANULLACIO" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="DATA_HORA"/>
											</xs:simpleType>
										</xs:element>
										<xs:element name="MOTIU_ANULLACIO" minOccurs="0">
											<xs:simpleType>
												<xs:annotation>
													<xs:documentation>
														0001: Fet no sancionable
														0002: Denúncia duplicada
														0003: Butlleta anul.lada per l'agent
														0004: Butlleta deteriorada
														0005: Manca de competència per sancionar
														0006: Retard en la tramesa denúncia al SCT
														0007: Error/Manca dades bàsiques denúncia
														0008: Error o manca de DNI
														0009: Denúncies de Tranports
														0010: Fotos no vàlides
														0011: Anul.lada canvi adscripció territorial
														0012: Butlleta anul.lada per reposició models
														0013: Butlleta anul.lada per docència
														0014: Butlleta anul.lada a petició SCT
														0015: SENSE ESPECIFICAR
														0016: Butlleta no utilitzada
														0017: Trasllat de l'expedient
														0018: Prescripció de la infracció
														0021: Fet no sancionable
														0024: Trasllat de l'expedient
														0025: Prescripció de la infracció
														0026: Error o manca en les dades bàsiques
														0027: Error o manca de DNI
														0028: Fotos no vàlides
														0029: Butlletes anul.lades d'ofici
														0030: Manca certificat
														0031: Manca competència sancionar
														0032: PDA - Critica No notificada
														0033: Resultat negatiu
														0034: Butlleta no utilitzada
														0035: Baixa per error en l'aplicació PDA
													</xs:documentation>
												</xs:annotation>
												<xs:restriction base="xs:string">
													<xs:enumeration value="0001"/>
													<xs:enumeration value="0002"/>
													<xs:enumeration value="0003"/>
													<xs:enumeration value="0004"/>
													<xs:enumeration value="0005"/>
													<xs:enumeration value="0006"/>
													<xs:enumeration value="0007"/>
													<xs:enumeration value="0008"/>
													<xs:enumeration value="0009"/>
													<xs:enumeration value="0010"/>
													<xs:enumeration value="0011"/>
													<xs:enumeration value="0012"/>
													<xs:enumeration value="0013"/>
													<xs:enumeration value="0014"/>
													<xs:enumeration value="0015"/>
													<xs:enumeration value="0016"/>
													<xs:enumeration value="0017"/>
													<xs:enumeration value="0018"/>
													<xs:enumeration value="0021"/>
													<xs:enumeration value="0024"/>
													<xs:enumeration value="0025"/>
													<xs:enumeration value="0026"/>
													<xs:enumeration value="0027"/>
													<xs:enumeration value="0028"/>
													<xs:enumeration value="0029"/>
													<xs:enumeration value="0030"/>
													<xs:enumeration value="0031"/>
													<xs:enumeration value="0032"/>
													<xs:enumeration value="0033"/>
													<xs:enumeration value="0034"/>
													<xs:enumeration value="0035"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="IND_DGT_VEHICLE">
											<xs:simpleType>
												<xs:annotation>
													<xs:documentation>
														S: Dades del vehicle obtingudes de consulta a DGT
														N: Introduïdes manualment per l'agent
													</xs:documentation>
												</xs:annotation>
												<xs:restriction base="xs:string">
													<xs:enumeration value="S"/>
													<xs:enumeration value="N"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="DESCRIPCIO_MARCA">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="40"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="DESCRIPCIO_MODEL">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="40"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="COLOR_VEHICLE" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="20"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="TIPUS_VEHICLE">
											<xs:simpleType>
												<xs:annotation>
													<xs:documentation>
														00: Sense Valor
														01: Bicicleta
														02: Ciclomotor
														03: Motocicleta
														04: Turisme
														05: Furgoneta
														06: Remolc
														07: Camió
														08: Autobús
														09: Altres Vehicles
														10: Temporals
														11: Turístiques
														12: Vehicle Especial
														23: Motocicleta Estrangera
														24: Turisme Estranger
														25: Furgoneta Estrangera
														27: Camió Estranger
														28: Autobús Estranger
														29: Vehicle Genèric
														30: Vehicle Especial
													</xs:documentation>
												</xs:annotation>
												<xs:restriction base="xs:string">
													<xs:enumeration value="00"/>
													<xs:enumeration value="01"/>
													<xs:enumeration value="02"/>
													<xs:enumeration value="03"/>
													<xs:enumeration value="04"/>
													<xs:enumeration value="05"/>
													<xs:enumeration value="06"/>
													<xs:enumeration value="07"/>
													<xs:enumeration value="08"/>
													<xs:enumeration value="09"/>
													<xs:enumeration value="10"/>
													<xs:enumeration value="11"/>
													<xs:enumeration value="12"/>
													<xs:enumeration value="23"/>
													<xs:enumeration value="24"/>
													<xs:enumeration value="25"/>
													<xs:enumeration value="27"/>
													<xs:enumeration value="28"/>
													<xs:enumeration value="29"/>
													<xs:enumeration value="30"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="MATRICULA_DENUNCIA">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="10"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="NUMERO_BASTIDOR" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="25"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="DESCRIPCIO_PAIS">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="50"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="IND_IMMOBILITZACIO_VEH" default="N">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value="S"/>
													<xs:enumeration value="N"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="NUM_ACTA_IMMOBILITZACIO" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="15"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="NOM_TITULAR" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="25"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="COGNOM1_TITULAR" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="25"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="COGNOM2_TITULAR" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="25"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="NIF_TITULAR" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="12"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="ADRECA_TITULAR" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="100"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="POBLACIO_TITULAR" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="60"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="PROVINCIA_TITULAR" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="50"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CODI_POSTAL_TITULAR" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="5"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="FET_DENUNCIAT">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="290"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="FET_DENUNCIAT2" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="290"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<!-- conductor -->
										<xs:element name="IND_DGT_CONDUCTOR">
											<xs:simpleType>
												<xs:annotation>
													<xs:documentation>
														S: Dades del conductor obtingudes de consulta a DGT
														N: Introduïdes manualment per l'agent
													</xs:documentation>
												</xs:annotation>
												<xs:restriction base="xs:string">
													<xs:enumeration value="S"/>
													<xs:enumeration value="N"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="INDICADOR_CONDUCTOR">
											<xs:simpleType>
												<xs:annotation>
													<xs:documentation>
														I: Infractor no conductor
														C: Conductor
													</xs:documentation>
												</xs:annotation>
												<xs:restriction base="xs:string">
													<xs:enumeration value="I"/>
													<xs:enumeration value="C"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="TIPUS_DOCUMENT">
											<xs:simpleType>
												<xs:annotation>
													<xs:documentation>
														01: Persona Física
														02: Persona Jurídica
														03: Estranger Resident
														04: Estranger No resident
														05: Sense Identificar
													</xs:documentation>
												</xs:annotation>
												<xs:restriction base="xs:string">
													<xs:enumeration value="01"/>
													<xs:enumeration value="02"/>
													<xs:enumeration value="03"/>
													<xs:enumeration value="04"/>
													<xs:enumeration value="05"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="NUMERO_DOCUMENT">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="12"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="TIPUS_PERMIS" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="3"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="DATA_EXPEDICIO" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="AAAAMMDD"/>
											</xs:simpleType>
										</xs:element>
										<xs:element name="NOM_CONDUCTOR">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="25"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="COGNOM1_CONDUCTOR">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="25"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="COGNOM2_CONDUCTOR" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="25"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="DATA_NAIXEMENT_CONDUCTOR" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="AAAAMMDD"/>
											</xs:simpleType>
										</xs:element>
										<xs:element name="DESCRIPCIO_PAIS_CONDUCTOR">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="20"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="DOMICILI_CONDUCTOR">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="100"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="DESC_POBLACIO_CONDUCTOR">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="60"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CODI_POSTAL_CONDUCTOR" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="5"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="OBSERVACIONS" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="350"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="IMATGE" type="xs:base64Binary" minOccurs="0"/>
										<xs:element name="TIPUS_IMATGE" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value="jpg"/>
													<xs:enumeration value="pdf"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:choice minOccurs="0">
											<xs:element name="DENUNCIA_VELOCITAT">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="VELOCITAT_REGISTRADA">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:pattern value="\d{6}"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="VELOCITAT_LIMIT">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:pattern value="\d{4}"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="TIPUS_LIMITACIO">
															<xs:simpleType>
																<xs:annotation>
																	<xs:documentation>
																	U: Limitació en via urbana
																	I: Limitació en via interurbana
																	F: Limitació fixada per senyal
																</xs:documentation>
																</xs:annotation>
																<xs:restriction base="xs:string">
																	<xs:enumeration value="U"/>
																	<xs:enumeration value="I"/>
																	<xs:enumeration value="F"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="CINEMOMETRE">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:maxLength value="10"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="CODI_ANTENA">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:maxLength value="20"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
											<xs:element name="DENUNCIA_ALCOHOLEMIA">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="TIPUS_LECTURA">
															<xs:simpleType>
																<xs:annotation>
																	<xs:documentation>
																	A: Aire espirat
																	S: Contingut en sang
																</xs:documentation>
																</xs:annotation>
																<xs:restriction base="xs:string">
																	<xs:enumeration value="A"/>
																	<xs:enumeration value="S"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="PCT_1_LECTURA">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:pattern value="\d{6}"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="DATA_1_LECTURA">
															<xs:simpleType>
																<xs:restriction base="AAAAMMDD"/>
															</xs:simpleType>
														</xs:element>
														<xs:element name="HORA_1_LECTURA">
															<xs:simpleType>
																<xs:restriction base="HHMISS"/>
															</xs:simpleType>
														</xs:element>
														<xs:element name="PCT_2_LECTURA">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:pattern value="\d{6}"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="DATA_2_LECTURA">
															<xs:simpleType>
																<xs:restriction base="AAAAMMDD"/>
															</xs:simpleType>
														</xs:element>
														<xs:element name="HORA_2_LECTURA">
															<xs:simpleType>
																<xs:restriction base="HHMISS"/>
															</xs:simpleType>
														</xs:element>
														<xs:element name="MODEL_ETILOMETRE">
															<xs:simpleType>
																<xs:annotation>
																	<xs:documentation>
																	01: Dräger Alcotest 7110
																	02: Lion 1400LS
																	03: Dräger Alcotest 7410
																	04: Alcotest 7110-E
																</xs:documentation>
																</xs:annotation>
																<xs:restriction base="xs:string">
																	<xs:enumeration value="01"/>
																	<xs:enumeration value="02"/>
																	<xs:enumeration value="03"/>
																	<xs:enumeration value="04"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="NUMERO_ETILOMETRE">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:length value="2"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
										</xs:choice>
										<xs:element name="TARGETA" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="IND_TARGETA">
														<xs:simpleType>
															<xs:annotation>
																<xs:documentation>
																	S: pagament amb targeta. / N: sense targeta, no implica
																	que s’hagi fet el pagament en metàl•lic.
																</xs:documentation>
															</xs:annotation>
															<xs:restriction base="xs:string">
																<xs:enumeration value="S"/>
																<xs:enumeration value="N"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="NUMERO_TARGETA">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:pattern value="\d{4}"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="DATA_CADUCITAT_TARGETA">
														<xs:simpleType>
															<xs:restriction base="AAAAMMDD"/>
														</xs:simpleType>
													</xs:element>
													<xs:element name="NUMERO_TERMINAL">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:pattern value="\d{2}"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="CODI_COMERC">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:length value="9"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="NUMERO_COMANDA">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:length value="10"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="NUMERO_AUTORITZACIO">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:length value="20"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="DATA_JUSTIFICANT">
														<xs:simpleType>
															<xs:restriction base="AAAAMMDD"/>
														</xs:simpleType>
													</xs:element>
													<xs:element name="HORA_JUSTIFICANT">
														<xs:simpleType>
															<xs:restriction base="HHMISS"/>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="DATA_HORA">
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{4}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01]) (([01][0-9])|(2[0-3]))((:[0-5][0-9]){2})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AAAAMMDD">
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{4}(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="HHMISS">
		<xs:restriction base="xs:string">
			<xs:pattern value="(([01][0-9])|(2[0-3]))(([0-5][0-9]){2})"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
