REG_ENT/consultas.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by xavi buendia (maracibo inc) -->
<xs:schema xmlns="http://justicia.gencat.cat/spicanot/esquemas/consulta" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://justicia.gencat.cat/spicanot/esquemas/consulta" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="PeticioDadesConsulta">
		<xs:complexType>
			<xs:choice>
				<xs:element name="idIntern" type="xs:string"/>
				<xs:sequence>
					<xs:element name="numInscripcio" type="xs:string"/>
					<xs:element name="demTerritorial" type="xs:string"/>
					<xs:element name="tipusEntitat" type="xs:string"/>
				</xs:sequence>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="PeticioDadesConsultaComptes">
        <xs:complexType>
            <xs:sequence>
                <xs:choice>
                   <xs:element name="idIntern" type="xs:string"/>
                   <xs:sequence>
                    <xs:element name="numInscripcio" type="xs:string"/>
                    <xs:element name="demTerritorial" type="xs:string"/>
                    <xs:element name="tipusEntitat" type="xs:string"/>
                 </xs:sequence>
                </xs:choice>
                <xs:element name="anyInici" minOccurs="1" maxOccurs="1">
                    <xs:simpleType>
                       <xs:restriction base="xs:positiveInteger">
                          <xs:totalDigits value="4" fixed="true"/>
                       </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="anyFi" minOccurs="0" maxOccurs="1">
                    <xs:simpleType>
                       <xs:restriction base="xs:positiveInteger">
                          <xs:totalDigits value="4" fixed="true"/>
                       </xs:restriction>
                    </xs:simpleType>
                </xs:element>
            </xs:sequence>   
        </xs:complexType>
    </xs:element>
	<xs:element name="RetornDadesEntitat">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="entitat">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="dadesIdentificatives">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="numInscripcio" type="xs:string"/>
										<xs:element name="tipusEntitat" type="xs:string"/>
										<xs:element name="demTerritorial" type="xs:string"/>
										<xs:element name="nomOficialEntitat" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="organGovern" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="carrec" type="xs:string"/>
										<xs:element name="dataInscripcio" type="xs:string">
											<xs:annotation>
												<xs:documentation>Format YYYY-MM-DD</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="dataPrevistaBaixa" type="xs:string" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Format YYYY-MM-DD</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="dataBaixa" type="xs:string" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Format YYY-MM-DD</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="vitalici" type="xs:string">
											<xs:annotation>
												<xs:documentation>Valor 0 / 1</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="natural" type="xs:string">
											<xs:annotation>
												<xs:documentation>Valor 0 / 1</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:choice>
											<xs:element name="personaFisica">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="nom" type="xs:string"/>
														<xs:element name="primerCognom" type="xs:string"/>
														<xs:element name="segonCognom" type="xs:string" minOccurs="0"/>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
											<xs:element name="personaJuridica">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="denominacio" type="xs:string"/>
														<xs:element name="CIF" type="xs:string"/>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
										</xs:choice>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="dadesDomiciliaries" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="tipusVia" type="xs:string"/>
										<xs:element name="nomVia" type="xs:string"/>
										<xs:element name="numero" type="xs:string" minOccurs="0"/>
										<xs:element name="bloc" type="xs:string" minOccurs="0"/>
										<xs:element name="escala" type="xs:string" minOccurs="0"/>
										<xs:element name="pis" type="xs:string" minOccurs="0"/>
										<xs:element name="porta" type="xs:string" minOccurs="0"/>
										<xs:element name="telefon" type="xs:string" minOccurs="0"/>
										<xs:element name="fax" type="xs:string" minOccurs="0"/>
										<xs:element name="restaDomicili" type="xs:string" minOccurs="0"/>
										<xs:element name="codiPostal" type="xs:string" minOccurs="0"/>
										<xs:choice>
											<xs:sequence>
												<xs:element name="comarca" type="xs:string" minOccurs="0"/>
												<xs:element name="provincia" type="xs:string" minOccurs="0"/>
												<xs:element name="codiPoblacio" type="xs:string" minOccurs="0"/>
												<xs:element name="nomPoblacio" type="xs:string" minOccurs="0"/>
											</xs:sequence>
											<xs:element name="municipiForaCatalunya" type="xs:string" minOccurs="0"/>
										</xs:choice>
										<xs:element name="pais" type="xs:string" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PeticioBasicaConsulta">
		<xs:complexType>
			<xs:all>
				<xs:element name="nomEntitat" type="xs:string" minOccurs="0"/>
				<xs:element name="numInscripcio" type="xs:string" minOccurs="0"/>
				<xs:element name="tipusEntitat" type="xs:string" minOccurs="0"/>
				<xs:element name="demTerritorial" type="xs:string" minOccurs="0"/>
				<xs:element name="comarca" type="xs:string" minOccurs="0"/>
				<xs:element name="provincia" type="xs:string" minOccurs="0"/>
				<xs:element name="CIF" type="xs:string" minOccurs="0"/>
				<xs:element name="estat" type="xs:string" minOccurs="0"/>
				<xs:element name="dataInscripcio" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Format "YYYY-MM-DD"</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="dataDissolucio" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Format "YYYY-MM-DD"</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="classificacio" type="xs:string" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="RetornInscripcionsEntitats">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="entitat" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="dadesIdentificatives">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="numInscripcio" type="xs:string"/>
										<xs:element name="tipusEntitat" type="xs:string"/>
										<xs:element name="demTerritorial" type="xs:string"/>
										<xs:element name="idInterna" type="xs:string"/>
										<xs:element name="CIF" type="xs:string"/>
										<xs:element name="nomOficialEntitat" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="dadesFitxaEntitat">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="estat" type="xs:string"/>
										<xs:element name="poblacio" type="xs:string"/>
										<xs:element name="dataInscripcio" type="xs:string">
											<xs:annotation>
												<xs:documentation>Format "YYYY-MM-DD"</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="utilitatPublica" type="xs:string">
											<xs:annotation>
												<xs:documentation>Valor 0 / 1</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="adaptada" type="xs:string">
											<xs:annotation>
												<xs:documentation>Valor 0 / 1</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="juvenil" type="xs:string">
											<xs:annotation>
												<xs:documentation>Valor 0 / 1</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="professional" type="xs:string">
											<xs:annotation>
												<xs:documentation>Valor 0 / 1</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="provincia" type="xs:string"/>
										<xs:element name="comarca" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="dadesOrgansGovern">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="vigenciaCarrec" type="xs:string"/>
										<xs:element name="organsCaducats" type="xs:string">
											<xs:annotation>
												<xs:documentation>Valor 0 / 1</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="RetornDocEstatuts">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="dadesIdentificatives">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="numInscripcio" type="xs:string"/>
							<xs:element name="tipusEntitat" type="xs:string"/>
							<xs:element name="demTerritorial" type="xs:string"/>
							<xs:element name="nomOficialEntitat" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="pathDocEstatuts" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
