VO/VO - ESTAT/DGT/dadesEspecifiques-DGT_HISTORIAL_DOMICILIS_PROPIETARI.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns="http://www.aoc.cat/dgt" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dgt="http://intermediacion.redsara.es/scsp/esquemas/datosespecificos" targetNamespace="http://www.aoc.cat/dgt" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://intermediacion.redsara.es/scsp/esquemas/datosespecificos" schemaLocation="datos-especificos-SVDDGTHISTORIALDOMICILIOPROPIETARIOWS01.xsd"/>
	<!-- ======================================================= -->
	<!-- Historial domicilis propietari                              										 -->
	<!-- ======================================================= -->
	<xs:element name="peticioHistorialDomicilisPropietari">
		<xs:complexType>
			<xs:all>
				<xs:element name="dataInici" type="xs:date"/>
				<xs:element name="dataFi" type="xs:date"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="respostaHistorialDomicilisPropietari">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="peticioHistorialDomicilisPropietari" minOccurs="0"/>
				<xs:element name="resposta" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="dgt:DatosPropietario"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="resultat"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- ======================================================= -->
	<!-- Resultat                                                                                                   -->
	<!-- ======================================================= -->
	<xs:element name="resultat">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="codiResultat" type="xs:string"/>
				<xs:element name="descripcio" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
