VO/VO - ESTAT/DGT/datos-especificos-SVDDGTHISTORIALDOMICILIOVEHICULOWS01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://intermediacion.redsara.es/scsp/esquemas/datosespecificos" targetNamespace="http://intermediacion.redsara.es/scsp/esquemas/datosespecificos" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="DatosEspecificos">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="Consulta"/>
				<xs:element ref="Retorno"/>
			</xs:choice>
			<xs:attribute name="Id" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Consulta">
		<xs:complexType>
			<xs:all>
				<xs:element name="Matricula" type="Matricula"/>
				<xs:element name="FechaDesde" type="Fecha"/>
				<xs:element name="FechaHasta" type="Fecha"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="Retorno">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Estado"/>
				<xs:element ref="Consulta"/>
				<xs:element ref="DatosVehiculo" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="Matricula">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="9"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="Estado">
		<xs:complexType>
			<xs:all>
				<xs:element name="CodigoEstado">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="4"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CodigoEstadoSecundario" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="10"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Literal">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="1024"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<!-- Datos vehículo -->
	<xs:element name="DatosVehiculo">
		<xs:complexType>
			<xs:all>
				<xs:element ref="Marca" minOccurs="0"/>
				<xs:element ref="Modelo" minOccurs="0"/>
				<xs:element name="RegistrosEncontrados" type="Registros"/>
				<xs:element name="RegistrosDevueltos" type="Registros"/>
				<xs:element ref="Domicilios" minOccurs="0"/>
				<xs:element ref="Observaciones" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="Marca">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="255"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Modelo">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="50"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Domicilios">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Domicilio" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Domicilio">
		<xs:complexType>
			<xs:all>
				<xs:element ref="Provincia"/>
				<xs:element ref="Municipio"/>
				<xs:element ref="Poblacion" minOccurs="0"/>
				<xs:element ref="Direccion"/>
				<xs:element ref="CodigoPostal"/>
				<xs:element name="FechaDesde" type="Fecha"/>
				<xs:element name="FechaHasta" type="Fecha" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="Registros">
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="999999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="Provincia">
		<xs:complexType>
			<xs:all>
				<xs:element name="Codigo" type="CodigoProvincia"/>
				<xs:element name="Nombre" type="NombreProvincia"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="Municipio">
		<xs:complexType>
			<xs:all>
				<xs:element name="Codigo" type="CodigoMunicipio"/>
				<xs:element name="Nombre" type="NombreMunicipio"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="CodigoProvincia">
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NombreProvincia">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="70"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NombreMunicipio">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="70"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CodigoMunicipio">
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{5}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="Poblacion">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="70"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Direccion">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="255"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CodigoPostal">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="\d{5}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:simpleType name="Fecha">
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:element name="Observaciones">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="1024"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
