VO/VO - ESTAT/DGT/datos-especificos-SVDDGTVEHICULOIVTMWS01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://intermediacion.redsara.es/scsp/esquemas/datosespecificos" targetNamespace="http://intermediacion.redsara.es/scsp/esquemas/datosespecificos" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="DatosEspecificos">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="Consulta"/>
				<xs:element ref="Retorno"/>
			</xs:choice>
			<xs:attribute name="Id" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Consulta">
		<xs:complexType>
			<xs:choice>
				<xs:element name="Matricula" type="Matricula"/>
				<xs:element ref="Bastidor"/>
				<xs:element ref="NIVE"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="Retorno">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Estado"/>
				<xs:element ref="Consulta"/>
				<xs:element ref="DatosVehiculo" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="Matricula">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="9"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="Bastidor">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="25"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="NIVE">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="32"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Estado">
		<xs:complexType>
			<xs:all>
				<xs:element name="CodigoEstado">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="4"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CodigoEstadoSecundario" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="10"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Literal">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="1024"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<!-- Datos vehículo -->
	<xs:element name="DatosVehiculo">
		<xs:complexType>
			<xs:all>
				<xs:element ref="DatosGenerales" minOccurs="0"/>
				<xs:element ref="DatosTecnicos" minOccurs="0"/>
				<xs:element ref="DatosTramites" minOccurs="0"/>
				<xs:element ref="DatosAdministrativos" minOccurs="0"/>
				<xs:element ref="DatosITVs" minOccurs="0"/>
				<xs:element ref="DatosSeguros" minOccurs="0"/>
				<xs:element ref="DatosResponsables" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="DatosGenerales">
		<xs:complexType>
			<xs:all>
				<xs:element ref="Matriculacion" minOccurs="0"/>
				<xs:element ref="DescripcionVehiculo" minOccurs="0"/>
				<xs:element name="DomicilioFiscalVehiculo" type="Domicilio" minOccurs="0"/>
				<xs:element ref="Titular" minOccurs="0"/>
				<xs:element ref="Indicadores" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="Matriculacion">
		<xs:annotation>
			<xs:documentation>Datos  matriculación del vehículo</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element name="Matricula" type="Matricula" minOccurs="0"/>
				<xs:element name="FechaMatriculacion" type="Fecha" minOccurs="0"/>
				<xs:element name="FechaPrimeraMatriculacion" type="Fecha" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="DescripcionVehiculo">
		<xs:annotation>
			<xs:documentation>Descripción del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element ref="Bastidor" minOccurs="0"/>
				<xs:element ref="NIVE" minOccurs="0"/>
				<xs:element ref="Marca" minOccurs="0"/>
				<xs:element ref="Modelo" minOccurs="0"/>
				<xs:element ref="Servicio" minOccurs="0"/>
				<xs:element ref="TipoIndustria" minOccurs="0"/>
				<xs:element name="Tipo" type="TipoVehiculo" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="Marca">
		<xs:annotation>
			<xs:documentation>Marca del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element ref="Codigo" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Código de la marca del vehículo consultado</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="Descripcion" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Marca del vehículo consultado</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="Codigo">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="5"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Descripcion">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="255"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Modelo">
		<xs:annotation>
			<xs:documentation>Modelo del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="50"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Servicio">
		<xs:annotation>
			<xs:documentation>Servicio al que está destinado el vehículo</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element ref="Codigo" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Código del servicio al que está destinado el vehículo</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="Descripcion" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Servicio al que está destinado el vehículo</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="TipoIndustria">
		<xs:annotation>
			<xs:documentation>Tipo definido por industria</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element ref="Codigo" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Código del tipo definido por industria</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="Descripcion" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Tipo definido por industria</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="TipoVehiculo">
		<xs:all>
			<xs:element ref="Codigo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código del tipo de vehículo</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="Descripcion" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Tipo de vehículo</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="Domicilio">
		<xs:all>
			<xs:element ref="TipoVia" minOccurs="0"/>
			<xs:element ref="NombreVia" minOccurs="0"/>
			<xs:element ref="NumeroVia" minOccurs="0"/>
			<xs:element ref="Portal" minOccurs="0"/>
			<xs:element ref="Bloque" minOccurs="0"/>
			<xs:element ref="Escalera" minOccurs="0"/>
			<xs:element ref="Planta" minOccurs="0"/>
			<xs:element ref="Puerta" minOccurs="0"/>
			<xs:element ref="Kilometro" minOccurs="0"/>
			<xs:element ref="Hectometro" minOccurs="0"/>
			<xs:element ref="Provincia" minOccurs="0"/>
			<xs:element name="Municipio" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="50"/>
						<xs:whiteSpace value="collapse"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element ref="Localidad" minOccurs="0"/>
			<xs:element ref="CodigoPostal" minOccurs="0"/>
		</xs:all>
	</xs:complexType>
	<xs:element name="NumeroVia">
		<xs:annotation>
			<xs:documentation>Número de vía de la residencia del titular del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="10"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Planta">
		<xs:annotation>
			<xs:documentation>Planta de la dirección de residencia del titular del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="3"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Portal">
		<xs:annotation>
			<xs:documentation>Portal de la dirección de residencia del titular del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="2"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Puerta">
		<xs:annotation>
			<xs:documentation>Puerta de la dirección de la residencia del titular del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="4"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TipoVia">
		<xs:annotation>
			<xs:documentation>Código de vía de la residencia del titular del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="5"/>
				<xs:pattern value="[a-zA-ZñÑ\.]{1,5}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="NombreVia">
		<xs:annotation>
			<xs:documentation>Nombre de vía de la residencia del titular del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="255"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Bloque">
		<xs:annotation>
			<xs:documentation>Bloque de la dirección de la residencia del titular del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="4"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Localidad">
		<xs:annotation>
			<xs:documentation>Localidad de la residencia del titular del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="100"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CodigoPostal">
		<xs:annotation>
			<xs:documentation>Código postal de la dirección de la residencia del titular del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="\d{5}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Escalera">
		<xs:annotation>
			<xs:documentation>Escalera de la dirección de la residencia del titular del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="2"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Kilometro">
		<xs:annotation>
			<xs:documentation>Kilómetro de vía de la residencia del titular del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="\d{1,3}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Hectometro">
		<xs:annotation>
			<xs:documentation>Hectómetro de vía de la residencia del titular del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="\d{1}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Indicadores">
		<xs:annotation>
			<xs:documentation>Indicadores del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element name="Embargo" type="Indicador" minOccurs="0"/>
				<xs:element name="Posesion" type="Indicador" minOccurs="0"/>
				<xs:element name="Sustraccion" type="Indicador" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="Indicador">
		<xs:restriction base="xs:string">
			<xs:enumeration value="S"/>
			<xs:enumeration value="N"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="Titular">
		<xs:annotation>
			<xs:documentation>Datos del titular del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element name="DomicilioNotificaciones" type="Domicilio" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="DatosTecnicos">
		<xs:annotation>
			<xs:documentation>Datos técnicos del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element ref="Potencias" minOccurs="0"/>
				<xs:element ref="Masas" minOccurs="0"/>
				<xs:element ref="Plazas" minOccurs="0"/>
				<xs:element ref="NivelEmisiones" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="NivelEmisiones">
		<xs:annotation>
			<xs:documentation>Nivel de emisiones del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="10"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Masas">
		<xs:annotation>
			<xs:documentation>Datos de las masas del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element ref="Tara" minOccurs="0"/>
				<xs:element ref="MasaMaxima" minOccurs="0"/>
				<xs:element ref="MasaMaximaTecnica" minOccurs="0"/>
				<xs:element ref="MasaServicio" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="MasaMaximaTecnica">
		<xs:annotation>
			<xs:documentation>Masa máxima técnica del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:int"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="MasaMaxima">
		<xs:annotation>
			<xs:documentation>Masa máxima del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:int"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="MasaServicio">
		<xs:annotation>
			<xs:documentation>Masa de servicio del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:int"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Tara">
		<xs:annotation>
			<xs:documentation>Tara del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:int"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Plazas">
		<xs:annotation>
			<xs:documentation>Datos de las plazas del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element ref="Mixtas" minOccurs="0"/>
				<xs:element ref="Normales" minOccurs="0"/>
				<xs:element ref="PlazasDePie" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="Mixtas">
		<xs:annotation>
			<xs:documentation>Número de plazas mixtas del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="7"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Normales">
		<xs:annotation>
			<xs:documentation>Número de plazas normales del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:minInclusive value="0"/>
				<xs:maxInclusive value="150"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="PlazasDePie">
		<xs:annotation>
			<xs:documentation>Número de plazas de pie del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:minInclusive value="0"/>
				<xs:maxInclusive value="150"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Potencias">
		<xs:annotation>
			<xs:documentation>Datos de las potencias del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element ref="Cilindrada" minOccurs="0"/>
				<xs:element ref="PotenciaFiscal" minOccurs="0"/>
				<xs:element ref="PotenciaNetaMaxima" minOccurs="0"/>
				<xs:element ref="RelacionPotenciaPeso" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="Cilindrada">
		<xs:annotation>
			<xs:documentation>Cilindrada del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:float"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="PotenciaFiscal">
		<xs:annotation>
			<xs:documentation>Potencia fiscal del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:float"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="PotenciaNetaMaxima">
		<xs:annotation>
			<xs:documentation>Potencia neta máxima del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:float"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="RelacionPotenciaPeso">
		<xs:annotation>
			<xs:documentation>Relacion potencia peso del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:float"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DatosTramites">
		<xs:annotation>
			<xs:documentation>Datos de los trámites del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element ref="ListaBajas" minOccurs="0"/>
				<xs:element ref="ListaTransferencias" minOccurs="0"/>
				<xs:element ref="ListaDuplicados" minOccurs="0"/>
				<xs:element ref="ListaProrrogas" minOccurs="0"/>
				<xs:element ref="ListaRematriculaciones" minOccurs="0"/>
				<xs:element ref="MatriculacionTemporal" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="ListaBajas">
		<xs:annotation>
			<xs:documentation>Lista de bajas que ha sufrido el vehículo.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Baja" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Baja">
		<xs:annotation>
			<xs:documentation>Datos relativos a cada una de las bajas que ha sufrido el vehículo.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element name="TipoBaja" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Tipo de baja.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:all>
							<xs:element ref="Codigo" minOccurs="0"/>
							<xs:element ref="Descripcion" minOccurs="0"/>
						</xs:all>
					</xs:complexType>
				</xs:element>
				<xs:element name="FechaInicio" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Fecha de comienzo de la baja del vehículo.</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:date"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="FechaFin" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Fecha de fin del período de baja del vehículo en caso de que no sea una baja definitiva.</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:date"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CausaBaja" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Motivo de la baja.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:all>
							<xs:element ref="Codigo" minOccurs="0"/>
							<xs:element ref="Descripcion" minOccurs="0"/>
						</xs:all>
					</xs:complexType>
				</xs:element>
				<xs:element ref="Jefatura" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Jefatura.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="Sucursal" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Sucursal.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="ListaTransferencias">
		<xs:annotation>
			<xs:documentation>Lista de transferencia que ha sufrido el vehículo.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Transferencia" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Transferencia">
		<xs:complexType>
			<xs:all>
				<xs:element name="FechaTransferencia" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Fecha en la que se realizó la transferencia.</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:date"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="DocumentacionAnterior" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Documento de identidad del titular anterior del vehículo.Puede ser CIF,NIF o NIE.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="Jefatura" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Jefatura</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="Sucursal" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Sucursal.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="ListaDuplicados">
		<xs:annotation>
			<xs:documentation>Datos relativos a los duplicados de los permisos de circulación del vehículo</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Duplicado" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Duplicado">
		<xs:annotation>
			<xs:documentation>Datos relativos a un duplicado del permiso de circulación del vehículo</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element name="FechaDuplicado" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Fecha en la que se expidió el  duplicado  del  permiso  de  circulación  del vehículo.</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:date"/>
					</xs:simpleType>
				</xs:element>
				<xs:element ref="Jefatura" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Jefatura en la que se hizo el  duplicado  del  permiso  de  circulación  del vehículo.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="RazonDuplicado" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Razón  por  la  cual  se  expidió  el  duplicado  del  permiso  de  circulación  del vehículo.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:all>
							<xs:element ref="Codigo" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Código de la razón  por  la  cual  se  expidió  el  duplicado  del  permiso  de  circulación  del vehículo.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element ref="Descripcion" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Razón  por  la  cual  se  expidió  el  duplicado  del  permiso  de  circulación  del vehículo.</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:all>
					</xs:complexType>
				</xs:element>
				<xs:element ref="Sucursal" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Sucursal en la que se hizo el  duplicado  del  permiso  de  circulación  del vehículo.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="ListaProrrogas">
		<xs:annotation>
			<xs:documentation>Datos relativos a las prorrogas</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Prorroga" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Prorroga">
		<xs:annotation>
			<xs:documentation>Datos relativos a una prorroga</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element name="FechaInicio" type="Fecha" minOccurs="0"/>
				<xs:element name="FechaFin" type="Fecha" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="ListaRematriculaciones">
		<xs:annotation>
			<xs:documentation>Datos relativos a rematriculaciones</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Rematriculacion" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Rematriculacion">
		<xs:annotation>
			<xs:documentation>Datos relativos a una rematriculacion</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element ref="Anotacion" minOccurs="0"/>
				<xs:element name="Fecha" type="Fecha" minOccurs="0"/>
				<xs:element name="Razon" type="RazonRematricualcion" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="RazonRematricualcion">
		<xs:all>
			<xs:element ref="Codigo" minOccurs="0"/>
			<xs:element ref="Descripcion" minOccurs="0"/>
		</xs:all>
	</xs:complexType>
	<xs:element name="MatriculacionTemporal">
		<xs:annotation>
			<xs:documentation>Datos relativos a la matriculación temporal</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element name="Fecha" type="Fecha" minOccurs="0"/>
				<xs:element ref="Anotacion" minOccurs="0"/>
				<xs:element name="MatriculaAnterior" type="Matricula" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="Fecha">
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:simpleType name="Codigo">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1024"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Descripcion">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1024"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="Anotacion">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="1024"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DatosAdministrativos">
		<xs:annotation>
			<xs:documentation>Datos administrativos del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element ref="ListaImpagos" minOccurs="0"/>
				<xs:element ref="ListaEmbargos" minOccurs="0"/>
				<xs:element ref="ListaPrecintos" minOccurs="0"/>
				<xs:element ref="ListaAvisos" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="ListaImpagos">
		<xs:annotation>
			<xs:documentation>Lista de impagos del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Impago" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Impago">
		<xs:annotation>
			<xs:documentation>Datos de cada impago del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element ref="AnioImpago" minOccurs="0"/>
				<xs:element ref="Documentacion" minOccurs="0"/>
				<xs:element ref="Provincia" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Provincia del impago del vehículo consultado</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="Municipio" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Municipio del impago del vehículo consultado</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="AnioImpago">
		<xs:annotation>
			<xs:documentation>Año del impago del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:gYear">
				<xs:pattern value="\d{4}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Documentacion">
		<xs:annotation>
			<xs:documentation>Documentación del impago del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="9"/>
				<xs:maxLength value="30"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ListaEmbargos">
		<xs:annotation>
			<xs:documentation>Lista de los embargos que tiene el vehiculo consultado</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Embargo" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Embargo">
		<xs:annotation>
			<xs:documentation>Datos del embargo que tiene el vehiculo consultado</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element ref="Autoridad" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Autoridad que llevo a cabo el embargo</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="Expediente" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Número de expediente asociado al embargo</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="FechaMaterializacion" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Fecha en la que se efectuó el embargo del vehículo</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="FechaTramite" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Fecha de comienzo del precinto</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="ListaPrecintos">
		<xs:annotation>
			<xs:documentation>Lista de los precintos que tiene el vehiculo consultado</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Precinto" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Precinto">
		<xs:annotation>
			<xs:documentation>Datos del precinto que tiene el vehiculo consultado</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element ref="Autoridad" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Autoridad que llevo a cabo el precinto</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="Expediente" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Número de expediente asociado al precinto</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="FechaMaterializacion" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Fecha en la que se efectuó el precinto del vehículo</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="FechaTramite" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Fecha de comienzo del precinto</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="ListaAvisos">
		<xs:annotation>
			<xs:documentation>Lista de avisos del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Aviso" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Aviso">
		<xs:annotation>
			<xs:documentation>Datos de cada impago del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element ref="Anotacion" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="Expediente">
		<xs:annotation>
			<xs:documentation>Número de expediente asociado al tramite</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="250"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="FechaMaterializacion">
		<xs:annotation>
			<xs:documentation>Fecha en la que se efectuó el trámite del vehículo</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:date"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="FechaTramite">
		<xs:annotation>
			<xs:documentation>Fecha de comienzo del trámite</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:date"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Autoridad">
		<xs:annotation>
			<xs:documentation>Autoridad que llevo a cabo el trámite</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element ref="Codigo" minOccurs="0"/>
				<xs:element ref="Descripcion" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="DatosITVs">
		<xs:annotation>
			<xs:documentation>Datos relativos a cada una de las itvs que ha pasado el vehículo.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Itv" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Itv">
		<xs:complexType>
			<xs:all>
				<xs:element name="Anotacion" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Anotación</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CuentaHoras" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Cuenta horas.</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:int"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Estacion" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Estación en la que se pasó.</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="FechaCaducidad" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Fecha de caducidad.</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:date"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="FechaFinAnterior" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Fecha de caducidad de la anterior ITV.</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:date"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="FechaItv" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Fecha en que se pasó.</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:date"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Kilometraje" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Kilometraje</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:int"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="MotivoItv" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Motivo por el cual se pasó.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:all>
							<xs:element ref="Codigo" minOccurs="0"/>
							<xs:element ref="Descripcion" minOccurs="0"/>
						</xs:all>
					</xs:complexType>
				</xs:element>
				<xs:element ref="Provincia" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Provincia en la que se encuentra la estación en la que se pasó.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ResultadoItv" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Resultado.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:all>
							<xs:element ref="Codigo" minOccurs="0"/>
							<xs:element ref="Descripcion" minOccurs="0"/>
						</xs:all>
					</xs:complexType>
				</xs:element>
				<xs:element ref="DefectosITV" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="DefectosITV">
		<xs:annotation>
			<xs:documentation>Lista de defectos encontrados en el vehículo.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DefectoITV" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DefectoITV">
		<xs:annotation>
			<xs:documentation>Datos relativos a cada uno de los defectos.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element name="GravedadDefectoItv" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Gravedad del defecto.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:all>
							<xs:element ref="Codigo" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Código de la gravedad del defecto.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element ref="Descripcion" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Gravedad del defecto.</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:all>
					</xs:complexType>
				</xs:element>
				<xs:element name="TipoDefectoItv" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Tipo de defecto</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:all>
							<xs:element ref="Codigo" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Código del tipo de defecto</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element ref="Descripcion" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Tipo de defecto</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:all>
					</xs:complexType>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="Municipio">
		<xs:complexType>
			<xs:all>
				<xs:element ref="Codigo" minOccurs="0"/>
				<xs:element ref="Descripcion" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="Provincia">
		<xs:complexType>
			<xs:all>
				<xs:element ref="Codigo" minOccurs="0"/>
				<xs:element ref="Descripcion" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="Sucursal">
		<xs:annotation>
			<xs:documentation>Sucursal</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element ref="Codigo" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Código de sucursal</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="Descripcion" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Sucursal</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="Jefatura">
		<xs:annotation>
			<xs:documentation>Jefatura</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element ref="Codigo" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Código de jefatura</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="Descripcion" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Jefatura</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="DatosSeguros">
		<xs:annotation>
			<xs:documentation>Datos relativos los seguros del vehículo.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Seguro" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Seguro">
		<xs:annotation>
			<xs:documentation>Datos del seguro del vehículo</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element ref="ContratoSeguro" minOccurs="0"/>
				<xs:element ref="Entidad" minOccurs="0"/>
				<xs:element name="FechaInicio" type="Fecha" minOccurs="0"/>
				<xs:element name="FechaFin" type="Fecha" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="ContratoSeguro">
		<xs:annotation>
			<xs:documentation>Datos del contrato del seguro del vehículo</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element ref="Codigo" minOccurs="0"/>
				<xs:element ref="Descripcion" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="Entidad">
		<xs:annotation>
			<xs:documentation>Entidad del seguro del vehículo</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element ref="Codigo" minOccurs="0"/>
				<xs:element ref="Descripcion" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="DatosResponsables">
		<xs:annotation>
			<xs:documentation>Datos de los responsables del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element ref="ListaPoseedores" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="ListaPoseedores">
		<xs:annotation>
			<xs:documentation>Lista de poseedores del vehículo.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Poseedor" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Poseedor">
		<xs:annotation>
			<xs:documentation>Contiene los datos relativos a cada uno de los poseedores del vehículo</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element ref="Anotacion" minOccurs="0"/>
				<xs:element ref="Filiacion" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Nombre y apellidos del poseedor.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="Documentacion" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Documento de Identidad del poseedor: CIF, NIF o NIE.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="FechaPosesion" type="Fecha" minOccurs="0"/>
				<xs:element ref="Situacion" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Situación de la posesión del vehículo</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="Jefatura" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Jefatura</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="Sucursal" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Sucursal</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="Tipo" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="Filiacion">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="250"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Situacion">
		<xs:complexType>
			<xs:all>
				<xs:element ref="Codigo" minOccurs="0"/>
				<xs:element ref="Descripcion" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="Tipo">
		<xs:annotation>
			<xs:documentation>Tipo de poseedor</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="250"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
