VO/VO - ESTAT/DGT/datos-especificos-SVDDGTEUCARISWS01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 sp1 (http://www.altova.com) by End User (free.org) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://intermediacion.redsara.es/scsp/esquemas/datosespecificos" targetNamespace="http://intermediacion.redsara.es/scsp/esquemas/datosespecificos" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="DatosEspecificos">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="Consulta"/>
				<xs:element ref="Retorno"/>
			</xs:choice>
			<xs:attribute name="Id" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Consulta">
		<xs:complexType>
			<xs:annotation>
				<xs:documentation>Datos de consulta para servicio ConsultarDatosVehiculoEUCARIS</xs:documentation>
			</xs:annotation>
			<xs:all>
				<xs:element ref="DatosVehiculo"/>
				<xs:element ref="DatosDelito"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="DatosVehiculo">
		<xs:complexType>
			<xs:annotation>
				<xs:documentation>Datos del vehículo consultado</xs:documentation>
			</xs:annotation>
			<xs:all>
				<xs:element name="Matricula" type="Matricula"/>
				<xs:element name="Procedencia" type="Procedencia"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="DatosDelito">
		<xs:complexType>
			<xs:annotation>
				<xs:documentation>Datos del delito del vehículo consultado </xs:documentation>
			</xs:annotation>
			<xs:all>
				<xs:element name="Tipo" type="TipoDelito"/>
				<xs:element ref="FechaHora"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="Retorno">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Estado"/>
				<xs:element ref="Consulta" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Datos de la consulta</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="Titulares" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Titulares">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Titular" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--  Titular -->
	<xs:element name="Titular">
		<xs:complexType>
			<xs:sequence>
				<xs:choice>
					<xs:element ref="InformacionPersonal"/>
					<xs:element ref="InformacionEmpresa"/>
				</xs:choice>
				<xs:element ref="Direccion" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="InformacionPersonal">
		<xs:complexType>
			<xs:all>
				<xs:element name="Identificacion" type="IdentificacionPersona" minOccurs="0"/>
				<xs:element ref="Nombre"/>
				<xs:element ref="Apellidos" minOccurs="0"/>
				<xs:element ref="OtrosNombres" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="OtrosNombres">
		<xs:complexType>
			<xs:all>
				<xs:element ref="NombreDePila" minOccurs="0"/>
				<xs:element ref="OtroNombre" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="IdentificacionPersona">
		<xs:all>
			<xs:element name="Codigo" type="CodigoIdentificador"/>
			<xs:element name="Descripcion" type="DescripcionIdentificador"/>
			<xs:element ref="Identificador"/>
		</xs:all>
	</xs:complexType>
	<xs:element name="Nombre">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="200"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="NombreDePila">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="40"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="OtroNombre">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="50"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Apellidos">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="200"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:simpleType name="CodigoIdentificador">
		<xs:restriction base="xs:string">
			<xs:enumeration value="PIN"/>
			<xs:enumeration value="PASS"/>
			<xs:enumeration value="DLIC"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CodigoIdentificadorEmpresa">
		<xs:restriction base="xs:string">
			<xs:enumeration value="COC"/>
			<xs:enumeration value="CIN"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DescripcionIdentificador">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="InformacionEmpresa">
		<xs:complexType>
			<xs:all>
				<xs:element name="Identificacion" type="IdentificacionEmpresa" minOccurs="0"/>
				<xs:element name="Nombre" type="NombreEmpresa"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="NombreEmpresa">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="80"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="IdentificacionEmpresa">
		<xs:all>
			<xs:element name="Codigo" type="CodigoIdentificadorEmpresa"/>
			<xs:element name="Descripcion" type="DescripcionIdentificador"/>
			<xs:element ref="Identificador"/>
		</xs:all>
	</xs:complexType>
	<xs:element name="Direccion">
		<xs:complexType>
			<xs:all>
				<xs:element name="Nombre" type="NombreEmpresa" minOccurs="0"/>
				<xs:element ref="Calle" minOccurs="0"/>
				<xs:element ref="CalleExtra" minOccurs="0"/>
				<xs:element ref="Numero" minOccurs="0"/>
				<xs:element ref="NumeroAnexo" minOccurs="0"/>
				<xs:element ref="CodigoPostal" minOccurs="0"/>
				<xs:element ref="Poblacion" minOccurs="0"/>
				<xs:element name="Pais" type="PaisDireccion" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="Calle">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="40"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CalleExtra">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="40"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Numero">
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:pattern value="\d{1,5}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="NumeroAnexo">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="7"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CodigoPostal">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="12"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Poblacion">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="40"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:simpleType name="PaisDireccion">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Elementos -->
	<xs:element name="Identificador">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="25"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<!--  Consulta -->
	<xs:simpleType name="Matricula">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Procedencia">
		<xs:restriction base="xs:string">
			<xs:enumeration value="A"/>
			<xs:enumeration value="B"/>
			<xs:enumeration value="BG"/>
			<xs:enumeration value="CH"/>
			<xs:enumeration value="CY"/>
			<xs:enumeration value="CZ"/>
			<xs:enumeration value="D"/>
			<xs:enumeration value="DK"/>
			<xs:enumeration value="E"/>
			<xs:enumeration value="EST"/>
			<xs:enumeration value="F2"/>
			<xs:enumeration value="FIN"/>
			<xs:enumeration value="FL"/>
			<xs:enumeration value="GB"/>
			<xs:enumeration value="GBA"/>
			<xs:enumeration value="GBG"/>
			<xs:enumeration value="GBJ"/>
			<xs:enumeration value="GBM"/>
			<xs:enumeration value="GBZ"/>
			<xs:enumeration value="GR"/>
			<xs:enumeration value="H"/>
			<xs:enumeration value="I"/>
			<xs:enumeration value="IRL"/>
			<xs:enumeration value="IS"/>
			<xs:enumeration value="L"/>
			<xs:enumeration value="L2"/>
			<xs:enumeration value="LT"/>
			<xs:enumeration value="LV"/>
			<xs:enumeration value="M"/>
			<xs:enumeration value="N"/>
			<xs:enumeration value="NA"/>
			<xs:enumeration value="NL"/>
			<xs:enumeration value="P"/>
			<xs:enumeration value="PL"/>
			<xs:enumeration value="RO"/>
			<xs:enumeration value="S"/>
			<xs:enumeration value="SK"/>
			<xs:enumeration value="SLO"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TipoDelito">
		<xs:restriction base="xs:string">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="10"/>
			<xs:enumeration value="11"/>
			<xs:enumeration value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="FechaHora" type="xs:dateTime">
		<xs:annotation>
			<xs:documentation>Fecha y Hora del delito. Formato YYYY-MM-DDTHH:MM:SS (Formato DGT: 2013-07-30T09:00:00)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:simpleType name="Fecha">
		<xs:annotation>
			<xs:documentation>Fecha Formato YYYY-DD-MM</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:element name="Estado">
		<xs:complexType>
			<xs:all>
				<xs:element name="CodigoEstado">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="4"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CodigoEstadoSecundario" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Codigo devuelto por DGT en caso de error</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="10"/>
							<xs:whiteSpace value="collapse"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Literal">
					<xs:annotation>
						<xs:documentation>Descripcion del estado</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="1024"/>
							<xs:whiteSpace value="collapse"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
</xs:schema>
