VO/VO - ESTAT/DGT/datos-especificos-SVDDGTEUCARISWS01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://intermediacion.redsara.es/scsp/esquemas/datosespecificos" targetNamespace="http://intermediacion.redsara.es/scsp/esquemas/datosespecificos" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="DatosEspecificos">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="Consulta"/>
				<xs:element ref="Retorno"/>
			</xs:choice>
			<xs:attribute name="Id" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Consulta">
		<xs:complexType>
			<xs:annotation>
				<xs:documentation>Datos de consulta para servicio ConsultarDatosVehiculoEUCARIS</xs:documentation>
			</xs:annotation>
			<xs:all>
				<xs:element ref="DatosVehiculo"/>
				<xs:element ref="DatosDelito"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="DatosVehiculo">
		<xs:complexType>
			<xs:annotation>
				<xs:documentation>Datos del vehículo consultado</xs:documentation>
			</xs:annotation>
			<xs:all>
				<xs:element name="Matricula" type="Matricula"/>
				<xs:element name="Procedencia" type="Procedencia"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="DatosDelito">
		<xs:complexType>
			<xs:annotation>
				<xs:documentation>Datos del delito del vehículo consultado </xs:documentation>
			</xs:annotation>
			<xs:all>
				<xs:element name="Tipo" type="TipoDelito"/>
				<xs:element ref="FechaHora"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="Retorno">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Estado"/>
				<xs:element ref="Consulta" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Datos de la consulta</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:choice minOccurs="0">
					<xs:element ref="Titulares"/>
					<xs:element ref="MensajesInformativos"/>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Titulares">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Titular" type="TitularVehiculo" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="TitularVehiculo">
		<xs:all>
			<xs:element ref="Vehiculo"/>
			<xs:element ref="Titular" minOccurs="0"/>
			<xs:element ref="Propietario" minOccurs="0"/>
			<xs:element ref="MensajesRespuesta" minOccurs="0"/>
		</xs:all>
	</xs:complexType>
	<xs:element name="Vehiculo">
		<xs:complexType>
			<xs:all>
				<xs:element name="Identificacion" type="IdentificacionVehiculo"/>
				<xs:element name="FechaReferencia" type="Fecha"/>
				<xs:element name="Pais" type="Procedencia" minOccurs="0"/>
				<xs:element ref="Marca" minOccurs="0"/>
				<xs:element ref="NombreComercial" minOccurs="0"/>
				<xs:element ref="Identificador" minOccurs="0"/>
				<xs:element ref="CategoriaEuropea" minOccurs="0"/>
				<xs:element ref="LenguajeDocumentacion" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="IdentificacionVehiculo">
		<xs:all>
			<xs:element name="Matricula" type="Matricula"/>
			<xs:element name="Matricula2" type="Matricula" minOccurs="0"/>
		</xs:all>
	</xs:complexType>
	<!--  Titular -->
	<xs:element name="Titular">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="FechaReferencia" type="Fecha"/>
				<xs:element ref="EntidadLegal"/>
				<xs:choice>
					<xs:element ref="InformacionPersonal"/>
					<xs:element ref="InformacionEmpresa"/>
				</xs:choice>
				<xs:element ref="Direccion" minOccurs="0"/>
				<xs:element ref="TitularImprimible" minOccurs="0"/>
				<xs:element ref="DireccionImprimible" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="EntidadLegal">
		<xs:complexType>
			<xs:all>
				<xs:element name="Codigo" type="CodigoEntidadLegal"/>
				<xs:element name="Descripcion" type="DescripcionEntidadLegal"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="InformacionPersonal">
		<xs:complexType>
			<xs:all>
				<xs:element ref="Nombre"/>
				<xs:element ref="Apellidos" minOccurs="0"/>
				<xs:element ref="OtrosNombres" minOccurs="0"/>
				<xs:element ref="Sexo" minOccurs="0"/>
				<xs:element name="FechaNacimiento" type="Fecha" minOccurs="0"/>
				<xs:element ref="LugarNacimiento" minOccurs="0"/>
				<xs:element name="Identificacion" type="IdentificacionPersona" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="OtrosNombres">
		<xs:complexType>
			<xs:all>
				<xs:element ref="NombreDePila" minOccurs="0"/>
				<xs:element ref="OtroNombre" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="Sexo">
		<xs:complexType>
			<xs:all>
				<xs:element name="Codigo" type="CodigoSexo"/>
				<xs:element name="Descripcion" type="DescripcionSexo"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="IdentificacionPersona">
		<xs:all>
			<xs:element name="Codigo" type="CodigoIdentificador"/>
			<xs:element name="Descripcion" type="DescripcionIdentificador"/>
			<xs:element ref="Identificador"/>
		</xs:all>
	</xs:complexType>
	<xs:simpleType name="CodigoEntidadLegal">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NP"/>
			<xs:enumeration value="O"/>
			<xs:enumeration value="XXX"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DescripcionEntidadLegal">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="Nombre">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="200"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="NombreDePila">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="40"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="OtroNombre">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="50"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Apellidos">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="200"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:simpleType name="CodigoSexo">
		<xs:restriction base="xs:string">
			<xs:enumeration value="M"/>
			<xs:enumeration value="F"/>
			<xs:enumeration value="U"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DescripcionSexo">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="LugarNacimiento">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="40"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:simpleType name="CodigoIdentificador">
		<xs:restriction base="xs:string">
			<xs:enumeration value="PIN"/>
			<xs:enumeration value="PASS"/>
			<xs:enumeration value="DLIC"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CodigoIdentificadorEmpresa">
		<xs:restriction base="xs:string">
			<xs:enumeration value="COC"/>
			<xs:enumeration value="CIN"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DescripcionIdentificador">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="InformacionEmpresa">
		<xs:complexType>
			<xs:all>
				<xs:element name="Nombre" type="NombreEmpresa"/>
				<xs:element name="Identificacion" type="IdentificacionEmpresa" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="NombreEmpresa">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="80"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="IdentificacionEmpresa">
		<xs:all>
			<xs:element name="Codigo" type="CodigoIdentificadorEmpresa"/>
			<xs:element name="Descripcion" type="DescripcionIdentificador"/>
			<xs:element ref="Identificador"/>
		</xs:all>
	</xs:complexType>
	<xs:element name="Direccion">
		<xs:complexType>
			<xs:all>
				<xs:element name="Nombre" type="NombreEmpresa" minOccurs="0"/>
				<xs:element ref="Calle" minOccurs="0"/>
				<xs:element ref="CalleExtra" minOccurs="0"/>
				<xs:element ref="Numero" minOccurs="0"/>
				<xs:element ref="NumeroAnexo" minOccurs="0"/>
				<xs:element ref="CodigoPostal" minOccurs="0"/>
				<xs:element ref="Poblacion" minOccurs="0"/>
				<xs:element name="Pais" type="PaisDireccion" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="Calle">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="40"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CalleExtra">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="40"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Numero">
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:pattern value="\d{1,5}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="NumeroAnexo">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="7"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CodigoPostal">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="12"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Poblacion">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="40"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:simpleType name="PaisDireccion">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="TitularImprimible">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Descripciones" type="Descripciones" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="NombreImprimible">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Descripciones" type="Descripciones" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DireccionImprimible">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Descripciones" type="Descripciones" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="Descripciones">
		<xs:all>
			<xs:element ref="Secuencia"/>
			<xs:element name="Descripcion" type="DescripcionImprimible"/>
		</xs:all>
	</xs:complexType>
	<xs:element name="Secuencia">
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:pattern value="\d{1,3}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:simpleType name="DescripcionImprimible">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="80"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Propietario -->
	<xs:element name="Propietario">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="FechaReferencia" type="Fecha"/>
				<xs:element ref="EntidadLegal"/>
				<xs:choice>
					<xs:element ref="InformacionPersonal"/>
					<xs:element ref="InformacionEmpresa"/>
				</xs:choice>
				<xs:element ref="Direccion" minOccurs="0"/>
				<xs:element ref="NombreImprimible" minOccurs="0"/>
				<xs:element ref="DireccionImprimible" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MensajesRespuesta">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MensajeRespuesta" type="MensajeRespuesta" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="MensajeRespuesta">
		<xs:all>
			<xs:element name="Codigo" type="CodigoMensajesRespuesta"/>
			<xs:element name="Descripcion" type="DescripcionMensajesRespuesta"/>
			<xs:element ref="Variable" minOccurs="0"/>
		</xs:all>
	</xs:complexType>
	<xs:simpleType name="CodigoMensajesRespuesta">
		<xs:restriction base="xs:string">
			<xs:enumeration value="0"/>
			<xs:enumeration value="106"/>
			<xs:enumeration value="509"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CodigoMensajeInformativo">
		<xs:restriction base="xs:string">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="7"/>
			<xs:enumeration value="101"/>
			<xs:enumeration value="103"/>
			<xs:enumeration value="105"/>
			<xs:enumeration value="110"/>
			<xs:enumeration value="111"/>
			<xs:enumeration value="121"/>
			<xs:enumeration value="501"/>
			<xs:enumeration value="502"/>
			<xs:enumeration value="503"/>
			<xs:enumeration value="504"/>
			<xs:enumeration value="505"/>
			<xs:enumeration value="508"/>
			<xs:enumeration value="509"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DescripcionMensajesRespuesta">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="80"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="Variable">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="240"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="MensajesInformativos">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MensajeInformativo" type="MensajeInformativo" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="MensajeInformativo">
		<xs:all>
			<xs:element name="Codigo" type="CodigoMensajeInformativo"/>
			<xs:element name="Descripcion">
				<xs:simpleType>
					<xs:restriction base="DescripcionMensajesRespuesta">
						<xs:maxLength value="80"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element ref="Variable" minOccurs="0"/>
		</xs:all>
	</xs:complexType>
	<!-- Elementos -->
	<xs:element name="Marca">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="50"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="NombreComercial">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="50"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Identificador">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="25"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CategoriaEuropea">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="C1"/>
				<xs:enumeration value="C2"/>
				<xs:enumeration value="C3"/>
				<xs:enumeration value="C4"/>
				<xs:enumeration value="C5"/>
				<xs:enumeration value="L1"/>
				<xs:enumeration value="L2"/>
				<xs:enumeration value="L3"/>
				<xs:enumeration value="L4"/>
				<xs:enumeration value="L5"/>
				<xs:enumeration value="L6"/>
				<xs:enumeration value="L7"/>
				<xs:enumeration value="L1e"/>
				<xs:enumeration value="L2e"/>
				<xs:enumeration value="L3e"/>
				<xs:enumeration value="L4e"/>
				<xs:enumeration value="L5e"/>
				<xs:enumeration value="L6e"/>
				<xs:enumeration value="L7e"/>
				<xs:enumeration value="M1"/>
				<xs:enumeration value="M1G"/>
				<xs:enumeration value="M2"/>
				<xs:enumeration value="M2G"/>
				<xs:enumeration value="M3"/>
				<xs:enumeration value="M3G"/>
				<xs:enumeration value="N1"/>
				<xs:enumeration value="N1G"/>
				<xs:enumeration value="N2"/>
				<xs:enumeration value="N2G"/>
				<xs:enumeration value="N3"/>
				<xs:enumeration value="N3G"/>
				<xs:enumeration value="O1"/>
				<xs:enumeration value="O2"/>
				<xs:enumeration value="O3"/>
				<xs:enumeration value="O4"/>
				<xs:enumeration value="T1"/>
				<xs:enumeration value="T2"/>
				<xs:enumeration value="T3"/>
				<xs:enumeration value="T4"/>
				<xs:enumeration value="T5"/>
				<xs:enumeration value="XXX"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="LenguajeDocumentacion">
		<xs:complexType>
			<xs:all>
				<xs:element name="Codigo" type="CodigoLenguaje"/>
				<xs:element name="Descripcion" type="DescripcionLenguaje"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="CodigoLenguaje">
		<xs:restriction base="xs:string">
			<xs:enumeration value="bul"/>
			<xs:enumeration value="ces"/>
			<xs:enumeration value="dan"/>
			<xs:enumeration value="deu"/>
			<xs:enumeration value="ell"/>
			<xs:enumeration value="eng"/>
			<xs:enumeration value="est"/>
			<xs:enumeration value="fin"/>
			<xs:enumeration value="fra"/>
			<xs:enumeration value="gle"/>
			<xs:enumeration value="hun"/>
			<xs:enumeration value="ita"/>
			<xs:enumeration value="lav"/>
			<xs:enumeration value="lit"/>
			<xs:enumeration value="mlt"/>
			<xs:enumeration value="nld"/>
			<xs:enumeration value="pol"/>
			<xs:enumeration value="por"/>
			<xs:enumeration value="ron"/>
			<xs:enumeration value="slk"/>
			<xs:enumeration value="slv"/>
			<xs:enumeration value="spa"/>
			<xs:enumeration value="swe"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DescripcionLenguaje">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<!--  Consulta -->
	<xs:simpleType name="Matricula">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Procedencia">
		<xs:restriction base="xs:string">
			<xs:enumeration value="A"/>
			<xs:enumeration value="B"/>
			<xs:enumeration value="BG"/>
			<xs:enumeration value="CH"/>
			<xs:enumeration value="CY"/>
			<xs:enumeration value="CZ"/>
			<xs:enumeration value="D"/>
			<xs:enumeration value="DK"/>
			<xs:enumeration value="E"/>
			<xs:enumeration value="EST"/>
			<xs:enumeration value="F2"/>
			<xs:enumeration value="FIN"/>
			<xs:enumeration value="FL"/>
			<xs:enumeration value="GB"/>
			<xs:enumeration value="GBA"/>
			<xs:enumeration value="GBG"/>
			<xs:enumeration value="GBJ"/>
			<xs:enumeration value="GBM"/>
			<xs:enumeration value="GBZ"/>
			<xs:enumeration value="GR"/>
			<xs:enumeration value="H"/>
			<xs:enumeration value="I"/>
			<xs:enumeration value="IRL"/>
			<xs:enumeration value="IS"/>
			<xs:enumeration value="L"/>
			<xs:enumeration value="L2"/>
			<xs:enumeration value="LT"/>
			<xs:enumeration value="LV"/>
			<xs:enumeration value="M"/>
			<xs:enumeration value="N"/>
			<xs:enumeration value="NA"/>
			<xs:enumeration value="NL"/>
			<xs:enumeration value="P"/>
			<xs:enumeration value="PL"/>
			<xs:enumeration value="RO"/>
			<xs:enumeration value="S"/>
			<xs:enumeration value="SK"/>
			<xs:enumeration value="SLO"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TipoDelito">
		<xs:restriction base="xs:string">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="10"/>
			<xs:enumeration value="11"/>
			<xs:enumeration value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="FechaHora" type="xs:dateTime">
		<xs:annotation>
			<xs:documentation>Fecha y Hora del delito. Formato YYYY-MM-DDTHH:MM:SS (Formato DGT: 2013-07-30T09:00:00)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:simpleType name="Fecha">
		<xs:annotation>
			<xs:documentation>Fecha Formato YYYY-DD-MM</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<!--xs:element name="DatosVehiculo" type="xs:string">
		<xs:annotation>
			<xs:documentation>XML con los datos del vehiculo (a la espera de schema de la DGT)</xs:documentation>
		</xs:annotation>
	</xs:element-->
	<xs:element name="Estado">
		<xs:complexType>
			<xs:all>
				<xs:element name="CodigoEstado">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="4"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CodigoEstadoSecundario" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Codigo devuelto por DGT en caso de error</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="10"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Literal">
					<xs:annotation>
						<xs:documentation>Descripcion del estado</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="1024"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
</xs:schema>