VO/VO - ESTAT/DGT/datos-especificos-SVDDGTVEHICULOSANCWS01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://intermediacion.redsara.es/scsp/esquemas/datosespecificos" targetNamespace="http://intermediacion.redsara.es/scsp/esquemas/datosespecificos" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="DatosEspecificos">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="Consulta"/>
				<xs:element ref="Retorno"/>
			</xs:choice>
			<xs:attribute name="Id" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Consulta">
		<xs:annotation>
			<xs:documentation>Datos de consulta para servicio ConsultaDatosVehiculo</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:element ref="Matricula"/>
				<xs:element ref="Bastidor"/>
				<xs:element ref="NIVE"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="Retorno">
		<xs:annotation>
			<xs:documentation>Datos de retorno para servicio ConsultaDatosVehiculo</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Estado"/>
				<xs:element ref="Consulta">
					<xs:annotation>
						<xs:documentation>Datos consultados</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="DatosVehiculo" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Matricula">
		<xs:annotation>
			<xs:documentation>Matrícula del vehículo</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="9"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Bastidor">
		<xs:annotation>
			<xs:documentation>Número de bastidor del vehículo</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="25"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="NIVE">
		<xs:annotation>
			<xs:documentation>NIVE del vehículo</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="32"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Estado">
		<xs:complexType>
			<xs:all>
				<xs:element name="CodigoEstado">
					<xs:annotation>
						<xs:documentation>Codigo de estado: 0 - Tramitado, 1 - Error</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="4"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CodigoEstadoSecundario" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Codigo devuelto por DGT en caso de error</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="10"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Literal">
					<xs:annotation>
						<xs:documentation>Descripcion del estado</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="1024"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<!-- Datos vehículo -->
	<xs:element name="DatosVehiculo">
		<xs:annotation>
			<xs:documentation>Datos del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element ref="DatosGenerales"/>
				<xs:element ref="DatosTecnicos" minOccurs="0"/>
				<xs:element ref="DatosResponsables" minOccurs="0"/>
				<xs:element ref="DatosTramites" minOccurs="0"/>
				<xs:element ref="DatosAdministrativos" minOccurs="0"/>
				<xs:element ref="DatosITVs" minOccurs="0"/>
				<xs:element ref="ListaSeguros" minOccurs="0"/>
				<xs:element ref="DatosTitular" minOccurs="0"/>				
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="DatosGenerales">
		<xs:annotation>
			<xs:documentation>Datos generales del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element ref="DescripcionVehiculo" minOccurs="0"/>
				<xs:element name="DomicilioFiscalVehiculo" type="Domicilio" minOccurs="0"/>
				<xs:element ref="Matriculacion" minOccurs="0"/>
				<xs:element ref="Titular" minOccurs="0"/>
				<xs:element ref="FechaCaducidadITV" minOccurs="0"/>
				<xs:element ref="Historico"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="FechaCaducidadITV">
		<xs:annotation>
			<xs:documentation>Fecha de caducidad de la ITV</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:date"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Historico">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="S"/>
				<xs:enumeration value="N"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DescripcionVehiculo">
		<xs:annotation>
			<xs:documentation>Descripción del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element ref="Bastidor" minOccurs="0"/>
				<xs:element ref="NIVE" minOccurs="0"/>
				<xs:element ref="Marca" minOccurs="0"/>
				<xs:element ref="Modelo" minOccurs="0"/>
				<xs:element ref="Servicio" minOccurs="0"/>
				<xs:element ref="TipoIndustria" minOccurs="0"/>
				<xs:element ref="TipoVehiculo" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="Marca">
		<xs:annotation>
			<xs:documentation>Marca del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element ref="Codigo" minOccurs="0"/>
				<xs:element ref="Descripcion" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="Codigo">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="10"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Descripcion">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="100"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Modelo">
		<xs:annotation>
			<xs:documentation>Modelo del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="100"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Servicio">
		<xs:annotation>
			<xs:documentation>Servicio al que está destinado el vehículo</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element ref="Codigo" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Código del servicio al que está destinado el vehículo</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="Descripcion" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Servicio al que está destinado el vehículo</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="TipoIndustria">
		<xs:annotation>
			<xs:documentation>Tipo definido por industria</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element name="Codigo" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="4"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Descripcion" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="250"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="TipoVehiculo">
		<xs:annotation>
			<xs:documentation>Tipo de vehículo</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element name="Codigo" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="2"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Descripcion" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="250"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="Titular">
		<xs:complexType>
			<xs:all>
				<xs:element name="DomicilioNotificacion" type="Domicilio"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="Domicilio">
		<xs:choice>
			<xs:element ref="DomicilioINE"/>
			<xs:element ref="DomicilioDGT"/>
		</xs:choice>
	</xs:complexType>
	<xs:element name="DomicilioDGT">
		<xs:annotation>
			<xs:documentation>Domicilio del titular del vehículo consultado en DGT</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element ref="NombreVia" minOccurs="0"/>
				<xs:element ref="Provincia" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Provincia de la residencia del titular del vehículo consultado en DGT</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Municipio" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Municipio de la residencia del titular del vehículo consultado en DGT</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="50"/>
							<xs:whiteSpace value="collapse"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element ref="Localidad" minOccurs="0"/>
				<xs:element ref="CodigoPostal" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="DomicilioINE">
		<xs:annotation>
			<xs:documentation>Domicilio del titular del vehículo consultado en INE</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element ref="TipoVia" minOccurs="0"/>
				<xs:element ref="NombreVia" minOccurs="0"/>
				<xs:element ref="NumeroVia" minOccurs="0"/>
				<xs:element ref="Portal" minOccurs="0"/>
				<xs:element ref="Bloque" minOccurs="0"/>
				<xs:element ref="Escalera" minOccurs="0"/>
				<xs:element ref="Planta" minOccurs="0"/>
				<xs:element ref="Puerta" minOccurs="0"/>
				<xs:element ref="Kilometro" minOccurs="0"/>
				<xs:element ref="Hectometro" minOccurs="0"/>
				<xs:element ref="Provincia" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Provincia de la residencia del titular del vehículo consultado en INE</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Municipio" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Municipio de la residencia del titular del vehículo consultado en INE</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="50"/>
							<xs:whiteSpace value="collapse"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element ref="Localidad" minOccurs="0"/>
				<xs:element ref="CodigoPostal" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="NumeroVia">
		<xs:annotation>
			<xs:documentation>Número de vía de la residencia del titular del vehículo consultado en INE</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="10"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Planta">
		<xs:annotation>
			<xs:documentation>Planta de la dirección de residencia del titular del vehículo consultado en INE</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="10"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Portal">
		<xs:annotation>
			<xs:documentation>Portal de la dirección de residencia del titular del vehículo consultado en INE</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="10"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Puerta">
		<xs:annotation>
			<xs:documentation>Puerta de la dirección de la residencia del titular del vehículo consultado en INE</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="4"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TipoVia">
		<xs:annotation>
			<xs:documentation>Código de vía de la residencia del titular del vehículo consultado en INE</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="5"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="NombreVia">
		<xs:annotation>
			<xs:documentation>Nombre de vía de la residencia del titular del vehículo consultado en INE</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="255"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Bloque">
		<xs:annotation>
			<xs:documentation>Bloque de la dirección de la residencia del titular del vehículo consultado en INE</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="10"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Localidad">
		<xs:annotation>
			<xs:documentation>Localidad de la residencia del titular del vehículo consultado en INE</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="70"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CodigoPostal">
		<xs:annotation>
			<xs:documentation>Código postal de la dirección de la residencia del titular del vehículo consultado en INE</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="\d{1,10}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Escalera">
		<xs:annotation>
			<xs:documentation>Escalera de la dirección de la residencia del titular del vehículo consultado en INE</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="10"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Kilometro">
		<xs:annotation>
			<xs:documentation>Kilómetro de vía de la residencia del titular del vehículo consultado en INE</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="\d{1,3}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Hectometro">
		<xs:annotation>
			<xs:documentation>Hectómetro de vía de la residencia del titular del vehículo consultado en INE</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="\d{1,2}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Matriculacion">
		<xs:annotation>
			<xs:documentation>Datos de matriculación del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element ref="FechaMatriculacion" minOccurs="0"/>
				<xs:element ref="Matricula" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="FechaMatriculacion">
		<xs:annotation>
			<xs:documentation>Fecha de matriculación del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:date"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DatosTecnicos">
		<xs:annotation>
			<xs:documentation>Datos técnicos del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element ref="NivelEmisiones" minOccurs="0"/>
				<xs:element ref="Masas" minOccurs="0"/>
				<xs:element ref="Plazas" minOccurs="0"/>
				<xs:element ref="Potencias" minOccurs="0"/>
				<xs:element ref="Color" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="NivelEmisiones">
		<xs:annotation>
			<xs:documentation>Nivel de emisiones del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="10"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Masas">
		<xs:annotation>
			<xs:documentation>Datos de las masas del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element ref="MasaMaximaTecnica" minOccurs="0"/>
				<xs:element ref="MasaMaxima" minOccurs="0"/>
				<xs:element ref="MasaServicio" minOccurs="0"/>
				<xs:element ref="Tara" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="MasaMaximaTecnica">
		<xs:annotation>
			<xs:documentation>Masa máxima técnica del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:int"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="MasaMaxima">
		<xs:annotation>
			<xs:documentation>Masa máxima del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:int"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="MasaServicio">
		<xs:annotation>
			<xs:documentation>Masa de servicio del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:int"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Tara">
		<xs:annotation>
			<xs:documentation>Tara del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:int"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Plazas">
		<xs:annotation>
			<xs:documentation>Datos de las plazas del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element ref="Mixtas" minOccurs="0"/>
				<xs:element ref="Normales" minOccurs="0"/>
				<xs:element ref="NumeroPlazasPie" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="Mixtas">
		<xs:annotation>
			<xs:documentation>Número de plazas mixtas del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="7"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Normales">
		<xs:annotation>
			<xs:documentation>Número de plazas normales del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:minInclusive value="0"/>
				<xs:maxInclusive value="150"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="NumeroPlazasPie">
		<xs:annotation>
			<xs:documentation>Número de plazas de pie del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:minInclusive value="0"/>
				<xs:maxInclusive value="150"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Potencias">
		<xs:annotation>
			<xs:documentation>Datos de las potencias del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element ref="Cilindrada" minOccurs="0"/>
				<xs:element ref="PotenciaNetaMaxima" minOccurs="0"/>
				<xs:element ref="RelacionPotenciaPeso" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="Cilindrada">
		<xs:annotation>
			<xs:documentation>Cilindrada del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:float"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="PotenciaNetaMaxima">
		<xs:annotation>
			<xs:documentation>Potencia neta máxima del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:float"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="RelacionPotenciaPeso">
		<xs:annotation>
			<xs:documentation>Relacion potencia peso del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:float"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Color">
		<xs:annotation>
			<xs:documentation>Color</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element ref="Codigo" minOccurs="0"/>
				<xs:element ref="Descripcion" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="DatosResponsables">
		<xs:annotation>
			<xs:documentation>Datos de los responsables del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element ref="ListaArrendatarios" minOccurs="0"/>
				<xs:element ref="ListaConductoresHabituales" minOccurs="0"/>
				<xs:element ref="ListaPoseedores" minOccurs="0"/>
				<xs:element ref="ListaTutores" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="ListaArrendatarios">
		<xs:annotation>
			<xs:documentation>Lista de los arrendatarios del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Arrendatario" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Arrendatario">
		<xs:annotation>
			<xs:documentation>Datos delarrendatario del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element ref="FechaInicio" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Fecha de inicio del arrendamiento</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="FechaFin" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Fecha de fin del arrendamiento</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="Documentacion" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Documentación del arrendatario del vehículo consultado</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="Filiacion" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Datos de filiación del arrendatario</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="ListaConductoresHabituales">
		<xs:annotation>
			<xs:documentation>Lista de los conductores habituales del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ConductorHabitual" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ConductorHabitual">
		<xs:annotation>
			<xs:documentation>datos del conductor habitual del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element ref="FechaInicio" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Fecha de inicio del conductor habitual</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="FechaFin" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Fecha de inicio del conductor habitual</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="Documentacion" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Documentación del conductor habitual del vehículo consultado</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="Filiacion" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Datos de filiación del conductor habitual</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="ListaPoseedores">
		<xs:annotation>
			<xs:documentation>Lista de poseedores del vehículo.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Poseedor" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Poseedor">
		<xs:annotation>
			<xs:documentation>Contiene los datos relativos a cada uno de los poseedores del vehículo</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element ref="Anotacion" minOccurs="0"/>
				<xs:element ref="Filiacion" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Nombre y apellidos del poseedor.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="Documentacion" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Documento de Identidad del poseedor: CIF, NIF o NIE.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="FechaPosesion" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Fecha de posesión</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="Situacion" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Situación de la posesión del vehículo</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="DomicilioDGT" minOccurs="0"/>
				<xs:element ref="DomicilioINE" minOccurs="0"/>
				<xs:element ref="Jefatura" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Jefatura</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="Sucursal" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Sucursal</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="Tipo" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="Anotacion">
		<xs:annotation>
			<xs:documentation>Anotación</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="1024"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="FechaPosesion">
		<xs:simpleType>
			<xs:restriction base="xs:date"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Situacion">
		<xs:complexType>
			<xs:all>
				<xs:element ref="Codigo" minOccurs="0"/>
				<xs:element ref="Descripcion" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="Tipo">
		<xs:annotation>
			<xs:documentation>Tipo de poseedor</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="250"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ListaTutores">
		<xs:annotation>
			<xs:documentation>Lista de tutores que han solicitó trámtes sobre el vehículo consultado en nombre del titular que es menor de edad o discapacitado.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Tutor" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Datos relativos a cada uno de los tutores que han solicitó trámtes sobre el vehículo consultado en nombre del titular que es menor de edad o discapacitado .</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Tutor">
		<xs:annotation>
			<xs:documentation>Datos de cada uno de los tutores que han solicitó trámtes sobre el vehículo consultado en nombre del titular que es menor de edad o discapacitado.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element ref="Filiacion" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Nombre y apellidos del tutor.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="Documentacion" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Documento de Identidad del tutor: CIF, NIF o NIE.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="Tramite" minOccurs="0"/>
				<xs:element ref="FechaTramite" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Fecha en la que realizó el trámite el tutor.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="Tramite">
		<xs:annotation>
			<xs:documentation>Tramite en el que fue tutor</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="250"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DatosTramites">
		<xs:complexType>
			<xs:all>
				<xs:element ref="ListaBajas" minOccurs="0"/>
				<xs:element ref="ListaTransferencias" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="ListaBajas">
		<xs:annotation>
			<xs:documentation>Lista de bajas que ha sufrido el vehículo.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Baja" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Baja">
		<xs:annotation>
			<xs:documentation>Datos relativos a cada una de las bajas que ha sufrido el vehículo.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element ref="TipoBaja" minOccurs="0"/>
				<xs:element ref="FechaInicio" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Fecha de comienzo de la baja del vehículo.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="FechaFin" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Fecha de fin del período de baja del vehículo en caso de que no sea una baja definitiva.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="CausaBaja" minOccurs="0"/>
				<xs:element ref="Jefatura" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Jefatura.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="Sucursal" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Sucursal.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="TipoBaja">
		<xs:annotation>
			<xs:documentation>Tipo de baja.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element ref="Codigo" minOccurs="0"/>
				<xs:element ref="Descripcion" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="CausaBaja">
		<xs:annotation>
			<xs:documentation>Motivo de la baja.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element ref="Codigo" minOccurs="0"/>
				<xs:element ref="Descripcion" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="ListaTransferencias">
		<xs:annotation>
			<xs:documentation>Lista de transferencia que ha sufrido el vehículo.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Transferencia" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Transferencia">
		<xs:complexType>
			<xs:all>
				<xs:element ref="FechaTransferencia" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Fecha en la que se realizó la transferencia.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="DocumentacionAnterior" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Documento de identidad del titular anterior del vehículo.Puede ser CIF,NIF o NIE.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="Jefatura" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Jefatura</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="Sucursal" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Sucursal.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="FechaTransferencia">
		<xs:annotation>
			<xs:documentation>Fecha en la que se realizó la transferencia.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:date"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DocumentacionAnterior">
		<xs:annotation>
			<xs:documentation>Documento de identidad del titular anterior del vehículo.Puede ser CIF,NIF o NIE.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="9"/>
				<xs:maxLength value="30"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DatosAdministrativos">
		<xs:complexType>
			<xs:all>
				<xs:element ref="ListaAvisos" minOccurs="0"/>
				<xs:element ref="ListaDenegatorias" minOccurs="0"/>
				<xs:element ref="ListaPrecintos" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="ListaAvisos">
		<xs:annotation>
			<xs:documentation>Lista de avisos del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Aviso" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Aviso">
		<xs:annotation>
			<xs:documentation>Datos de cada aviso del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element ref="Anotacion" minOccurs="0"/>
				<xs:element name="Fecha" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Fecha en la que se realizó el aviso</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:date"/>
					</xs:simpleType>
				</xs:element>
				<xs:element ref="Jefatura" minOccurs="0"/>
				<xs:element ref="Sucursal" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="ListaDenegatorias">
		<xs:annotation>
			<xs:documentation>Lista de denegatorias del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Denegatoria" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Denegatoria">
		<xs:annotation>
			<xs:documentation>Datos de cada denegatoria del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element ref="Anotacion" minOccurs="0"/>
				<xs:element name="Fecha" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Fecha en la que se realizó la denegatoria</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:date"/>
					</xs:simpleType>
				</xs:element>
				<xs:element ref="Jefatura" minOccurs="0"/>
				<xs:element ref="Sucursal" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="ListaPrecintos">
		<xs:annotation>
			<xs:documentation>Lista de los precintos que se han efectuado al vehículo.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Precinto" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Precinto">
		<xs:annotation>
			<xs:documentation>Datos relativos a cada uno de los precintos del vehículo.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element ref="Autoridad" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Autoridad que llevo a cabo el precinto.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="Expediente" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Número de expediente correspondiente al tramite.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="FechaMaterializacion" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Fecha en la que se ejecutó el precinto.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="FechaTramite" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Fecha de comienzo del tramite.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="Autoridad">
		<xs:complexType>
			<xs:all>
				<xs:element ref="Codigo" minOccurs="0"/>
				<xs:element ref="Descripcion" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="Expediente">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="250"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="FechaMaterializacion">
		<xs:simpleType>
			<xs:restriction base="xs:date"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="FechaTramite">
		<xs:simpleType>
			<xs:restriction base="xs:date"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DatosITVs">
		<xs:annotation>
			<xs:documentation>Datos relativos a cada una de las itvs que ha pasado el vehículo.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Itv" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Itv">
		<xs:complexType>
			<xs:all>
				<xs:element ref="Anotacion" minOccurs="0"/>
				<xs:element name="CuentaHoras" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Cuenta horas.</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:int"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Estacion" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Estación en la que se pasó.</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="FechaCaducidad" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Fecha de caducidad.</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:date"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="FechaFinAnterior" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Fecha de caducidad de la anterior ITV.</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:date"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="FechaItv" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Fecha en que se pasó.</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:date"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Kilometraje" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Kilometraje</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:int"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="MotivoItv" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Motivo por el cual se pasó.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:all>
							<xs:element ref="Codigo" minOccurs="0"/>
							<xs:element ref="Descripcion" minOccurs="0"/>
						</xs:all>
					</xs:complexType>
				</xs:element>
				<xs:element ref="Provincia" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Provincia en la que se encuentra la estación en la que se pasó.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ResultadoItv" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Resultado.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:all>
							<xs:element ref="Codigo" minOccurs="0"/>
							<xs:element ref="Descripcion" minOccurs="0"/>
						</xs:all>
					</xs:complexType>
				</xs:element>
				<xs:element ref="DefectosITV" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="DefectosITV">
		<xs:annotation>
			<xs:documentation>Lista de defectos encontrados en el vehículo.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DefectoITV" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DefectoITV">
		<xs:annotation>
			<xs:documentation>Datos relativos a cada uno de los defectos.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element name="GravedadDefectoItv" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Gravedad del defecto.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:all>
							<xs:element ref="Codigo" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Código de la gravedad del defecto.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element ref="Descripcion" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Gravedad del defecto.</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:all>
					</xs:complexType>
				</xs:element>
				<xs:element name="TipoDefectoItv" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Tipo de defecto</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:all>
							<xs:element ref="Codigo" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Código del tipo de defecto</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element ref="Descripcion" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Tipo de defecto</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:all>
					</xs:complexType>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="ListaSeguros" type="Seguros"/>
	<xs:complexType name="Seguros">
		<xs:sequence>
			<xs:element name="Seguro" type="Seguro" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Seguro">
		<xs:all>
			<xs:element ref="ContratoSeguro" minOccurs="0"/>
			<xs:element ref="Entidad" minOccurs="0"/>
			<xs:element ref="FechaInicio" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Fecha de inicio del seguro del vehículo conusltado</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="FechaFin" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Fecha de fin del seguro del vehículo conusltado</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>
	<xs:element name="ContratoSeguro">
		<xs:annotation>
			<xs:documentation>Datos del contrato del seguro del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element ref="Codigo" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Código del contrato de seguro</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="Descripcion" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Descripción del contrato de seguro</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="Entidad">
		<xs:annotation>
			<xs:documentation>Entidad del seguro del vehículo consultado</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element ref="Codigo" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Código de la entidad del seguro</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="Descripcion" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Descripción de la entidad del seguro</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="FechaInicio">
		<xs:simpleType>
			<xs:restriction base="xs:date"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="FechaFin">
		<xs:simpleType>
			<xs:restriction base="xs:date"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Documentacion">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="9"/>
				<xs:maxLength value="30"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Filiacion">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="250"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Municipio">
		<xs:complexType>
			<xs:all>
				<xs:element ref="Codigo" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Código del municipio</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="Descripcion" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Descripción del municipio</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="Provincia">
		<xs:complexType>
			<xs:all>
				<xs:element ref="Codigo" minOccurs="0"/>
				<xs:element ref="Descripcion" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="Sucursal">
		<xs:annotation>
			<xs:documentation>Sucursal</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element ref="Codigo" minOccurs="0"/>
				<xs:element ref="Descripcion" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="Jefatura">
		<xs:annotation>
			<xs:documentation>Jefatura</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element ref="Codigo" minOccurs="0"/>
				<xs:element ref="Descripcion" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<!-- Bloc afegit a missatgeria MINHAP per retornar les dades del titular -->
	<xs:element name="DatosTitular">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="TipoDocumentacion">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="DNI"/>
							<xs:enumeration value="NIF"/>
							<xs:enumeration value="NIE"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Documentacion" type="xs:string" minOccurs="0"/>
				<xs:element name="NombreCompleto" type="xs:string" minOccurs="0"/>
				<xs:element name="Nombre" type="xs:string" minOccurs="0"/>
				<xs:element name="Apellido1" type="xs:string" minOccurs="0"/>
				<xs:element name="Apellido2" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>	
</xs:schema>