VO/VO - ESTAT/NOTARIS/dadesEspecifiques.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns="http://www.aoc.cat/poders-notarials" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.aoc.cat/poders-notarials" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="peticioConsultaSubsistenciaAdministradors">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="dadesProtocol">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="idEscriptura"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="alerta" type="tAlerta" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="idEscriptura">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="codiNotari" type="tCodiNotari"/>
				<xs:element name="codiNotaria" type="tCodiNotaria"/>
				<xs:element name="numProtocol" type="tNumeroDocument"/>
				<xs:element name="numBis" type="tNumeroDocumentBis" minOccurs="0"/>
				<xs:element name="dataAutoritzacio" type="xs:date"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="respostaConsultaSubsistenciaAdministradors">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="resposta" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="protocolConstitucio" type="tProtocolConstitucio" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element name="documentRelacionat" type="tDadesProtocolSocietat" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="resultat"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="peticioConsultaSubsistenciaPoders">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="apoderament">
					<xs:complexType>
						<xs:sequence>
							<xs:choice>
								<xs:element ref="idEscriptura"/>
								<xs:element name="csv" type="tCsv"/>
							</xs:choice>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="alerta" type="tAlerta" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="respostaConsultaSubsistenciaPoders">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="resposta" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="apoderament" type="tApoderament" minOccurs="0"/>
							<xs:element name="protocol" type="tProtocol" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="resultat"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="peticioConsultaCopiaSimple">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="apoderament">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="csv" type="tCsv"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="respostaConsultaCopiaSimple">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="resposta" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="protocol" type="tProtocol" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element name="document" type="tDocument" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="resultat"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="peticioConsultaNotaris">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="dataActe" type="xs:date"/>
				<xs:element name="notaria" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="codiNotaria" type="tCodiNotaria" minOccurs="0"/>
							<xs:element name="adreca" type="tAdreca" minOccurs="0"/>
							<xs:element name="codiProvincia" type="tCodiProvincia" minOccurs="0"/>
							<xs:element name="codiMunicipi" type="tCodiMunicipi" minOccurs="0"/>
							<xs:element name="codiPostal" type="tCodiPostal" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="notari" minOccurs="0">
					<xs:complexType>
						<xs:choice>
							<xs:element name="codiNotari" type="tCodiNotari"/>
							<xs:element name="cognom1" type="tCognom"/>
						</xs:choice>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="respostaConsultaNotaris">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="resposta" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="notariNotaria" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="notari" type="tNotari"/>
										<xs:element name="dataInici" type="xs:date"/>
										<xs:element name="dataFi" type="xs:date" minOccurs="0"/>
										<xs:element name="notaria" type="tNotaria"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="resultat"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- ======================================================= -->
	<!-- Resultat                                                -->
	<!-- ======================================================= -->
	<xs:element name="resultat">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="codiResultat" type="xs:string"/>
				<xs:element name="descripcio" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- ======================================================= -->
	<!-- Tipus                                                   -->
	<!-- ======================================================= -->
	<xs:complexType name="tNotari">
		<xs:sequence>
			<xs:element name="codiNotari" type="tCodiNotari"/>
			<xs:element name="nif" type="tNif" minOccurs="0"/>
			<xs:element name="nom" type="tNomSubjecte"/>
			<xs:element name="cognoms" type="tCognomSubjecte"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tNotaria">
		<xs:sequence>
			<xs:element name="codiNotaria" type="tCodiNotaria"/>
			<xs:element name="unitatPoblacional" type="tPlaca"/>
			<xs:element name="adreca" type="tAdreca"/>
			<xs:element name="provincia">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="codiProvincia" type="tCodiProvincia"/>
			<xs:element name="municipi">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="codiMunicipi" type="tCodiMunicipi"/>
			<xs:element name="codiPostal" type="tCodiPostal"/>
			<xs:element name="telefon1" type="tTelefon" minOccurs="0"/>
			<xs:element name="telefon2" type="tTelefon" minOccurs="0"/>
			<xs:element name="fax" type="tTelefon" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tProtocol">
		<xs:sequence>
			<xs:element name="csv" type="tCsv" minOccurs="0"/>
			<xs:element name="codiNotari" type="tCodiNotari"/>
			<xs:element name="notari" type="tCadena" minOccurs="0"/>
			<xs:element name="codiNotaria" type="tCodiNotaria"/>
			<xs:element name="notaria" type="tCadena" minOccurs="0"/>
			<xs:element name="numProtocol" type="tNumeroDocument"/>
			<xs:element name="numBis" type="tNumeroDocumentBis" minOccurs="0"/>
			<xs:element name="dataAutoritzacio" type="xs:date"/>
			<xs:element name="acteJuridic" type="tActeJuridic" minOccurs="0"/>
			<xs:element name="descripcioActeJuridic">
				<xs:simpleType>
					<xs:restriction base="tCadena">
						<xs:maxLength value="200"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="apoderats" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="apoderat" type="tSubjecte" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="poderdants" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="poderdant" type="tSubjecte" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tSubjecte">
		<xs:sequence>
			<xs:element name="idSubjecte" type="xs:integer"/>
			<xs:element name="documentIdentitat" type="tDocumentIdentitat"/>
			<xs:element name="nom" type="tNomSubjecte" minOccurs="0"/>
			<xs:element name="cognom1RaoSocial" type="tCognomSubjecte" minOccurs="0"/>
			<xs:element name="cognom2" type="tCognomSubjecte" minOccurs="0"/>
			<xs:element name="codiNacionalitat" type="tCodiPais" minOccurs="0"/>
			<xs:element name="nacionalitat" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="tCadena">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tDadesProtocolSocietat">
		<xs:sequence>
			<xs:element name="codiNotari" type="tCodiNotari"/>
			<xs:element name="notari" type="tCadena" minOccurs="0"/>
			<xs:element name="codiNotaria" type="tCodiNotaria"/>
			<xs:element name="notaria" type="tCadena" minOccurs="0"/>
			<xs:element name="numProtocol" type="tNumeroDocument"/>
			<xs:element name="numBis" type="tNumeroDocumentBis" minOccurs="0"/>
			<xs:element name="dataAutoritzacio" type="xs:date"/>
			<xs:element name="opes" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ope" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="acteJuridic" type="tActeJuridic"/>
									<xs:element name="descripcioActeJuridic">
										<xs:simpleType>
											<xs:restriction base="tCadena">
												<xs:maxLength value="200"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="administradors" minOccurs="0">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="administrador" type="tAdministrador" maxOccurs="unbounded"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="societat" type="tSocietat"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tProtocolConstitucio">
		<xs:sequence>
			<xs:element name="dadesProtocol" type="tDadesProtocolSocietat"/>
			<xs:element name="estatAdministracio" type="tEstatAdministracio" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tAdministrador">
		<xs:sequence>
			<xs:element name="nif" type="tNif"/>
			<xs:element name="nom" type="tNom"/>
			<xs:element name="cognom1" type="tCognom" minOccurs="0"/>
			<xs:element name="cognom2" type="tCognom" minOccurs="0"/>
			<xs:element name="tipusAdministracio" type="tTipusAdministracio"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tApoderament">
		<xs:sequence>
			<xs:choice>
				<xs:element name="idEscriptura" type="tIdEscriptura"/>
				<xs:element name="csv" type="tCsv"/>
			</xs:choice>
			<xs:element name="vigenciaPoder" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
						<xs:enumeration value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tIdEscriptura">
		<xs:sequence>
			<xs:element name="codiNotari" type="tCodiNotari"/>
			<xs:element name="notari" type="tCadena" minOccurs="0"/>
			<xs:element name="codiNotaria" type="tCodiNotaria"/>
			<xs:element name="notaria" type="tCadena" minOccurs="0"/>
			<xs:element name="numProtocol" type="tNumeroDocument"/>
			<xs:element name="numBis" type="tNumeroDocumentBis" minOccurs="0"/>
			<xs:element name="dataAutoritzacio" type="xs:date"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tSocietat">
		<xs:sequence>
			<xs:element name="cif" type="tCif"/>
			<xs:element name="raoSocial" type="tCognom"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tAlerta">
		<xs:sequence>
			<xs:element name="idAplicacio" type="tIdAplicacio"/>
			<xs:element name="dataAvis" type="xs:date"/>
			<xs:element name="email" type="tEmail" minOccurs="0"/>
			<xs:element name="sms" type="tSms" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tDocument">
		<xs:sequence>
			<xs:element name="data" type="xs:date"/>
			<xs:element name="descripcio" type="xs:string"/>
			<xs:element name="nom" type="xs:string"/>
			<xs:element name="grandaria" type="xs:integer"/>
			<xs:element name="fitxer" type="xs:base64Binary"/>
			<xs:element name="signatura" type="xs:base64Binary" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="tCodiNotari">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{7}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tCodiNotaria">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{9}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tNumeroDocument">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tNumeroDocumentBis">
		<xs:restriction base="xs:short">
			<xs:totalDigits value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tIdAplicacio">
		<xs:restriction base="xs:string">
			<xs:maxLength value="50"/>
			<xs:minLength value="1"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tEmail">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="100"/>
			<xs:pattern value="[^@]+@[^\.]+\..+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tSms">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tCadena">
		<xs:restriction base="xs:string">
			<xs:pattern value="[^\r\n\t]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tActeJuridic">
		<xs:restriction base="xs:string">
			<xs:minLength value="4"/>
			<xs:maxLength value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tNif">
		<xs:restriction base="tCadena">
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tCif">
		<xs:restriction base="tCadena">
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tNom">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="50"/>
			<xs:pattern value="[^\r\n\t]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tCognom">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="200"/>
			<xs:pattern value="[^\r\n\t]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tNomSubjecte">
		<xs:restriction base="xs:string">
			<xs:maxLength value="50"/>
			<xs:pattern value="[^\r\n\t]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tCognomSubjecte">
		<xs:restriction base="xs:string">
			<xs:maxLength value="200"/>
			<xs:pattern value="[^\r\n\t]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tTipusAdministracio">
		<xs:restriction base="tCadena">
			<xs:maxLength value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tEstatAdministracio">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NO_CANVIS_POSTERIORS"/>
			<xs:enumeration value="CANVIS_POSTERIORS"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tCsv">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9a-zA-Z]{24}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tCodiPais">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="tDocumentIdentitat">
		<xs:sequence>
			<xs:element name="tipus" type="tDocumentIdentitatTipus" minOccurs="0"/>
			<xs:element name="circumstanciesAbsencia" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="numeroDocument" type="tDocumentIdentitatNumero" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="tDocumentIdentitatTipus">
		<xs:annotation>
			<xs:documentation>Tipus de dpcument ("1" NIF/CIF, "2" NIE, "3" Pasaporte, "4" Menores de edad que carezcan de dicho número, "5" Entidad recién constituida que carece de NIF, 
			"6" Falta de aportación del NIF o NIF aportado pero no válido, "7" Cónyuge cotitular que no interviene, "8" Documento de identificación de extranjero, "9" Documento de persona jurídica extranjera,
			"10" Falta de aportación de NIF o NIE, "11" Falta de aportación de NIF, "12" Tarjeta de residencia, "15" Documento de identificación distinto o ausencia de cualquiera de ellos)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="7"/>
			<xs:enumeration value="8"/>
			<xs:enumeration value="9"/>
			<xs:enumeration value="10"/>
			<xs:enumeration value="11"/>
			<xs:enumeration value="12"/>
			<xs:enumeration value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tDocumentIdentitatNumero">
		<xs:restriction base="tCadena">
			<xs:maxLength value="25"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tPlaca">
		<xs:restriction base="xs:string">
			<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tAdreca">
		<xs:restriction base="tCadena">
			<xs:maxLength value="250"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tCodiProvincia">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tCodiMunicipi">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tCodiPostal">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{5}"/>
			<xs:pattern value="."/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tTelefon">
		<xs:restriction base="xs:string">
			<xs:maxLength value="19"/>
			<xs:pattern value="(\+[0-9]{1,3}(\-|\.)?)?([0-9]{1,3}(\-|\.|\|)?[0-9]{1,3})+"/>
			<xs:pattern value=""/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
